/* Generic components */
@import '_partials/fonts'
@import '_partials/variables'
@import '_partials/reset'
@import '_partials/grid'
@import '_partials/typography'
@import '_partials/buttons'
@import '_partials/navigation'
@import '_partials/footer'
@import '_partials/animations'
@import '_partials/syntax'

/* Content blocks */
@import '_partials/backgrounds'
@import '_partials/header-blocks'

/* Page styles */
@import '_partials/index'
@import '_partials/our-work'
@import '_partials/services'
@import '_partials/web-design'
@import '_partials/about'
@import '_partials/contact'
@import '_partials/blog'
@import '_partials/blog-post'

/* Portfolio page styles */
@import '_partials/portfolio-page'
@import '_partials/wedgewood'
@import '_partials/renders'

