<section class="post-portfolio-feed coming-soon-feed pl">
    <div class="container">
        <div class="blog-feed-title">
            <h2>Latest Projects</h2>
            <a href="/our-work/" class="text-link">
                <span>All Projects</span>
                <span>
                    <img src="/assets/img/arrow-pink.svg">
                </span>
            </a>
        </div>
        <div class="latest-work-container">
            {% for post in site.categories.portfolio limit:2 %}{% if post.url != page.url %}
            <div class="latest-work-post">
                <a class="latest-work-post-wrapper-top" href="{{ post.url }}"></a>
                <div class="latest-work-post-hover hide-1200">
                    <div class="latest-work-post-hover-title">
                        <h2>{{ post.header }}</h2>
                        <p class="main-nav-link">{{ post.subtitle }}</p>
                    </div>
                    <div class="latest-work-post-arrow">
                        <span>
                            <img src="/assets/img/arrow-right.svg">
                        </span>
                    </div>
                    <a class="latest-work-post-wrapper-bottom"></a>
                </div>
                <img src="/assets/img/portfolio/{{ post.img }}" alt="{{ post.title }}">
            </div>
            {% endif %}{% endfor %}
        </div>
    </div>
</section>