<nav>
    <div class="sticky-nav">
        <div class="container">
            <div class="sticky-nav-logo sticky-nav-animation">
            </div>
            <div class="sticky-nav-list sticky-nav-animation">
                <li class="end">
                    <a class="sticky-nav-link" href="/">Home</a>
                </li>
                <li>
                    <a class="sticky-nav-link" href="/our-work/">Our Work</a>
                </li>
                <li>
                    <a class="sticky-nav-link" href="/services/">Services</a>
                </li>
                <li>
                    <a class="sticky-nav-link" href="/about/">About</a>
                </li>
                <li>
                    <a class="sticky-nav-link" href="/contact/">Contact</a>
                </li>
                <li>
                    <a class="sticky-nav-link" href="/blog/">Blog</a>
                </li>
            </div>
            <div class="sticky-nav-contact">
                <li class="end">
                    <a href="mailto:enquiries@amp.studio">{{ site.email }}</a>
                </li>
                <li>
                    <a href="tel:{{ site.tel }}">{{ site.tel }}</a>
                </li>
                <li class="show-960 hide-600">
                    <a class="faded" href="/contact/">Contact</a>
                </li>
                <li class="show-960 hide-600">
                    <a class="faded" href="/blog/">Blog</a>
                </li>
            </div>
        </div>
    </div>
    <div class="main-nav">
        <div class="main-nav-bg"></div>
        <div class="container">
            <div class="main-nav-logo">
            </div>
            <div class="main-nav-list">
                <div class="main-nav-col">
                    <li class="end">
                        <a class="main-nav-link" href="/">Home</a>
                    </li>
                    <li>
                        <a class="main-nav-link" href="/our-work/">Our Work</a>
                    </li>
                    <li>
                        <a class="main-nav-link" href="/services/">Services</a>
                    </li>
                </div>
                <div class="main-nav-col">
                    <li>
                        <a class="main-nav-link" href="/about/">About</a>
                    </li>
                    <li class="hide-960 show-600">
                        <a class="main-nav-link" href="/contact/">Contact</a>
                    </li>
                    <li class="hide-960 show-600">
                        <a class="main-nav-link" href="/blog/">Blog</a>
                    </li>
                </div>
            </div>
            <a class="button-1 hide-800" href="/contact/">
                <span>Start a Project</span>
            </a>
            <a class="mobile-menu">
                <div class="mobile-menu-button"></div>
            </a>
        </div>
    </div>
</nav>