<nav class>
    <div class="sticky-nav">
        <div class="container">
            <div class="sticky-nav-logo">
                <a href="/">
                    <img src="assets/img/sticky-logo.svg" alt="AMP Logo">
                </a>
            </div>
            <div class="sticky-nav-list">
                <li>
                    <a class="sticky-nav-link" href="/">Home</a>
                </li>
                <li>
                    <a class="sticky-nav-link" href="/our-work/">Our Work</a>
                </li>
                <li>
                    <a class="sticky-nav-link" href="/services/">Services</a>
                </li>
                <li>
                    <a class="sticky-nav-link" href="/about/">About</a>
                </li>
                <li>
                    <a class="sticky-nav-link" href="/contact/">Contact</a>
                </li>
                <li>
                    <a class="sticky-nav-link" href="/blog/">Blog</a>
                </li>
            </div>
            <div class="sticky-nav-contact">
                <li>
                    <a href="mailto:enquiries@amp.studio">{{ site.email }}</a>
                </li>
                <li>
                    <a href="tel:01782 853973">{{ site.tel }}</a>
                </li>
            </div>
        </div>
    </div>
    <div class="main-nav">
        <div class="main-nav-bg"></div>
        <div class="container">
            <div class="main-nav-logo">
                <a href="/">
                    <img src="assets/img/logo.svg" alt="AMP Logo">
                </a>
            </div>
            <div class="main-nav-list">
                <li>
                    <a class="main-nav-link" href="/">Home</a>
                </li>
                <li>
                    <a class="main-nav-link" href="/our-work/">Our Work</a>
                </li>
                <li>
                    <a class="main-nav-link" href="/services/">Services</a>
                </li>
                <li>
                    <a class="main-nav-link" href="/about/">About</a>
                </li>
                <li>
                    <a class="main-nav-link" href="/contact/">Contact</a>
                </li>
                <li>
                    <a class="main-nav-link" href="/blog/">Blog</a>
                </li>
            </div>
            <a class="button-1" href="/contact/">
                <span>Start a Project</span>
                <span>
                    <img src="assets/img/arrow-right.svg">
                </span>
            </a>
        </div>
    </div>
</nav>