@keyframes slideIn25
    from
        transform translateX(-25%)
        opacity 0
    to
        transform translateX(0)
        opacity 1

@keyframes slideOut25
    0%
        transform translateX(0)
        opacity 1
    100%
        transform translateX(25%)
        opacity 0

@keyframes slideIn100
    from
        transform translateX(-100%)
        opacity 0
    to
        transform translateX(0)
        opacity 1

@keyframes slideOut100
    0%
        transform translateX(0)
        opacity 1
    100%
        transform translateX(100%)
        opacity 0