.bg
    background-color #ffffff
    background-repeat no-repeat
    background-size cover
    background-position center center

.about-bg
    background-image url('/assets/img/about-bg.jpg')

/* Portfolio page backgrounds */
.wedgewood-bg
    background-image url('/assets/img/portfolio/wedgewood/wedgewood-bg.jpg')

.great-bear-bg
    background-image url('/assets/img/portfolio/great-bear/great-bear-bg.jpg')


@media screen and (max-width: breakpoint960)

    /* Portfolio page backgrounds */
    .wedgewood-bg
        background-image url('/assets/img/portfolio/wedgewood/wedgewood-bg-960.jpg')

    .great-bear-bg
        background-image url('/assets/img/portfolio/great-bear/great-bear-bg-960.jpg')


@media screen and (max-width: breakpoint600)

    /* Portfolio page backgrounds */
    .wedgewood-bg
        background-image url('/assets/img/portfolio/wedgewood/wedgewood-bg-600.jpg')

    .great-bear-bg
        background-image url('/assets/img/portfolio/great-bear/great-bear-bg-600.jpg')