.blog
    background #ffffff
    position relative
    z-index 0

    &-filter
        display flex
        align-items center
        justify-content center
        margin-bottom 5em

    &-post
        display flex
        margin 0 auto 30px
        max-width 1250px
        min-height 380px

        &:last-child
            margin-bottom 0

    &-post:nth-child(odd) &-post-image
        background ampPinkBlog

    &-post:nth-child(even) &-post-image
        background ampBlueBlog

    &-post-image
        position relative
        display flex
        flex-direction column
        align-items center
        justify-content center
        padding 20px 6em
        
        img
            max-width 320px
            margin auto 0

    &-post-image-wrapper
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        z-index 10

    &-post-content
        position relative
        display flex
        flex-direction column
        align-items flex-start
        justify-content center
        flex-grow 1
        padding-left 6em

        h4
            font-family montserratRegular
            color greyMedium
            font-size 1.5rem

            span
                color ampPink
                text-transform capitalize

        h2
            -webkit-font-smoothing antialiased
            font-size 2.8rem
            padding 2rem 0

        p
            margin-bottom 2em
            max-width 500px
            overflow hidden
            text-overflow ellipsis
            display -webkit-box
            -webkit-box-orient vertical
            -webkit-line-clamp 2
            line-height: 3rem
            max-height: 6rem

    &-post-content-background
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background lightGrey
        z-index -1