body
    counter-reset numbered-list

.post-header
    background ampPinkBlog

    .container
        display flex
        flex-direction column
        align-items center

    h1
        max-width 800px

    &-author
        display inline-flex
        align-items center
        margin-bottom 3em
        animation fadeInUp 1.2s ease-out

        img
            width 60px
            height 60px
            border-radius 100%
            margin-right 20px

        p
            color #ffffff
            font-family montserratRegular
            font-size 1.5rem
            line-height 1.5
            text-align left
            -webkit-font-smoothing auto
	        -moz-osx-font-smoothing auto

        a
            color #ffffff
            font-family montserratSemiBold

.post-content
    background #ffffff
    padding-bottom 0

    .container
        max-width 800px

    h3
        font-family IBMPlexSerifSemiBold
        font-size 2.2rem
        margin-bottom -2rem

    h4
        font-family IBMPlexSerifSemiBold
        font-size 1.8rem
        margin-bottom -2rem

    li
        color greyMedium
        font-family IBMPlexSerifRegular
        font-size 1.8rem 
        line-height 1.7
        text-align left
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
        margin-top 3rem
        padding-left 1.5em
        text-indent -1.5em

        &::before
            content "•"
            color ampPink
            margin-right 1em

    li:nth-child(n+2)
        margin-top 1rem

    h2:nth-child(n+2), h3:nth-child(n+2)
        margin-top 5rem

    p:nth-child(n+2), h4:nth-child(n+2)
        margin-top 3rem

    p a, li a
        color ampPink
        font-family IBMPlexSerifSemiBold
        transition all .2s ease-in-out
        border-bottom 1px solid rgba(0,0,0,0)

    img
        margin 5rem 0

    blockquote
        padding 4.5em 5em
        background lightGrey
        text-align center
        margin 5rem 0
        position relative

        p
            text-align center

        a.quote-wrapper
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            border-bottom none !important

    blockquote a:last-child
        font-family IBMPlexSerifRegular
        font-size 2.5rem
        line-height 1.5
        color greyMedium
        transition all .2s ease-in-out
        -webkit-user-select auto
        -khtml-user-select auto
        -moz-user-select auto
        -ms-user-select auto
        user-select auto

    blockquote a:last-child:after
        background-image url("/assets/img/tweet-this.svg")
        background-size 123px 21px
        width 123px
        height 21px
        content ""
        display block
        margin 3rem auto 0

    div.highlight
        color #f8f8f2
        background-color darkGrey
        margin 6rem 0 5rem 0
        font-size 1.6rem
        overflow-x auto

        pre
            margin 2em

    ol
        padding 0

    ol li
        counter-increment numbered-list

        &:before
            content counter(numbered-list)

.post-footer
    background #ffffff

    .container
        display flex
        align-items center
        justify-content center

    &-author
        display inline-flex
        align-items center

        img
            width 60px
            height 60px
            border-radius 100%
            margin-right 20px

        p
            color greyMedium
            font-family montserratRegular
            font-size 1.5rem
            line-height 1.5
            text-align left
            -webkit-font-smoothing auto
	        -moz-osx-font-smoothing auto

        a
            color greyMedium
            font-family montserratSemiBold

    .vertical-break
        margin 0 4em
        width 1px
        height 6rem
        background lineGrey

    &-share
        display flex
        align-items center

        p
            margin-right 2em
            color greyMedium
            font-family montserratRegular
            font-size 1.5rem
            line-height 1.5
            text-align left
            -webkit-font-smoothing auto
	        -moz-osx-font-smoothing auto

.post-blog-feed
    background #ffffff
    padding-top 0

    .line-break
        margin-bottom 6em

    .blog-feed-container
        justify-content flex-start

    .blog-feed-post
        margin-right 20px

        &:last-child
            margin-right 0

    h2
        color darkGrey
        line-height 1.2

        span
            text-transform capitalize

    p a
        color ampPink
        transition all .2s ease-in-out
        border-bottom 1px solid rgba(0,0,0,0)

.source
    margin-top -2em !important
    font-size 1.5rem



@media screen and (min-width: breakpoint1200)

    .post-content, .post-blog-feed

        p a:hover, li a:hover
            border-bottom 1px solid ampPink

        blockquote p a.quote-wrapper:hover
            border-bottom none

        blockquote p a.quote-wrapper:hover + a
            border-bottom 1px solid ampPink

@media screen and (max-width: breakpoint600)

    .post-content

        p.quote-block
            padding 1.5em 2em 2em

        a.quote
            font-size 2.2rem

        a.quote:after
            background-image url("/assets/img/tweet-this.svg")
            background-size 82px 14px
            width 82px
            height 14px
            margin-top 2rem

    .post-blog-feed

        .blog-feed-title
            align-items center


@media screen and (max-width: 700px)

    .post-footer

        &-share
            flex-direction column

            p
                margin-right 0
                margin-bottom 0.5em


@media screen and (max-width: 500px)

    .post-footer

        .vertical-break
            display none

        &-author
            margin-bottom 2em

        &-share
            flex-direction row

            p
                margin-right 2em
                margin-bottom 0

        .container
            flex-direction column
