.blog
    background #ffffff
    position relative
    z-index 0

    &-filter
        display flex
        align-items center
        justify-content center
        margin-bottom 5em

    &-post
        display flex
        margin 0 auto 30px
        max-width 1250px
        width 100%
        min-height 380px

        &:last-child
            margin-bottom 0

    &-post:nth-child(odd) &-post-image
        background ampPinkBlog

    &-post:nth-child(even) &-post-image
        background ampBlueBlog

    &-post-image
        position relative
        display flex
        flex-direction column
        align-items center
        justify-content center
        padding 20px 6em
        
        img
            max-width 320px
            margin auto 0

    &-post-image-wrapper
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        z-index 10

    &-post-content
        position relative
        display flex
        flex-direction column
        align-items flex-start
        justify-content center
        flex-grow 1
        padding 6em

        h4
            font-family montserratRegular
            color greyMedium
            font-size 1.5rem

            a
                color ampPink
                text-transform capitalize

        h2
            -webkit-font-smoothing antialiased
            -moz-osx-font-smoothing grayscale
            font-size 2.8rem
            padding 2rem 0
            max-width 620px

        p
            margin-bottom 2em
            max-width 500px
            overflow hidden
            text-overflow ellipsis
            display -webkit-box
            -webkit-box-orient vertical
            -webkit-line-clamp 2
            line-height: 3rem
            max-height: 6rem

    &-post-content-background
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background lightGrey
        z-index -1


@media screen and (max-width: breakpoint1200)

    .blog

        &-post
            min-height 350px
        
        &-filter
            align-items stretch
            flex-wrap wrap

            a
                margin 5px
                flex-grow 1
                text-align center
                padding 1em 2em

                &:last-child
                    margin 5px

        &-post-image
            padding 20px 4em


@media screen and (max-width: breakpoint800)

    .blog
        
        &-filter
            margin-bottom 3em

        &-post
            flex-direction column

        &-post-image
            padding 0 20px 20px

            img
                margin 6em 0

        &-post-content
            padding 6em 20px
            align-items center
            text-align center

            h2
                font-size 2.4rem


@media screen and (max-width: breakpoint600)

    .blog
        
        &-filter
            margin-bottom 6em

        &-post-image

            img
                max-width 280px


@media screen and (max-width: 400px)

    .blog

        &-post-content
            align-items flex-start
            text-align left