
// Button with fancy gradient border
.button-1
    display inline-flex
    align-items center
    font-family 'Montserrat Regular', Helvetica, Tahoma, sans-serif
    font-size 1.5rem
    color #000000
    line-height 1
    position relative
    height 3em
    padding 0 1.8em
    text-align left
    background lightGrey
    background-clip padding-box
    border 4px solid transparent
    border-radius 2em
    border-image-slice 1

    :after
        position absolute
        top -3px
        right -3px
        bottom -3px
        left -3px
        content ''
        border-radius 2em
        background linear-gradient(to right, ampBlue, ampPink)
        transition all .2s linear
        opacity 1
        z-index -1

    span
        img
            margin-left 10px
            transition all .2s linear
            width 1.2rem


// Footer variation of button with fancy gradient border
.button-1.dark
    color #ffffff
    background darkGrey
    background-clip padding-box


// White button
.button-2
    display inline-flex
    align-items center
    font-family 'Montserrat Regular', Helvetica, Tahoma, sans-serif
    font-size 1.5rem
    color #ffffff
    line-height 1
    height 3em
    padding 0 1.8em
    margin-top 1.2em
    text-align left
    border 3px solid #ffffff
    border-radius 2em

    span
        img
            width 12px
            margin-left 10px
            transition all .2s linear

// Dark button
.button-3
    display none 
    align-items center
    font-family 'Montserrat Regular', Helvetica, Tahoma, sans-serif
    font-size 1.5rem
    color darkGrey
    line-height 1
    height 3em
    padding 0 1.8em
    text-align left
    border 3px solid darkGrey
    border-radius 2em

    span
        img
            width 12px
            margin-left 10px
            transition all .2s linear


.text-link
    font-family 'Montserrat SemiBold', Helvetica, Tahoma, sans-serif
    font-size 1.6rem
    line-height 1
    text-align center
    color ampPink
    display inline-flex
    align-items center
    justify-content center
    cursor pointer

    span
        img
            width 12px
            margin-left 10px
            transition all .2s linear

.blog-tag
    font-family 'Montserrat SemiBold', Helvetica, Tahoma, sans-serif
    font-size 1.6rem
    line-height 1
    text-align center
    color #ffffff
    background rgba(255, 255, 255, 0.2)
    cursor pointer
    padding 1em 2em

.blog-filter button
    font-family montserratRegular
    color #000000
    font-size 1.5rem
    background lightGrey
    border none
    border-radius 2em
    padding 0.8em 2em
    margin-right 20px
    cursor pointer
    transition all .2s ease-in

    &:last-child
        margin-right 0

.blog-filter button.active
    color #ffffff
    background ampPink


@media screen and (min-width: breakpoint1200)

    .button-1:hover, .button-2:hover, .button-2:hover, .text-link:hover

        span
            img
                transform translateX(5px)
