@font-face
  font-family "Montserrat Regular"
  src url(/assets/fonts/Montserrat-Regular.woff2) format('woff2'),
      url(/assets/fonts/Montserrat-Regular.woff) format('woff')

@font-face
  font-family "Montserrat Medium"
  src url(/assets/fonts/Montserrat-Medium.woff2) format('woff2'),
      url(/assets/fonts/Montserrat-Medium.woff) format('woff')

@font-face
  font-family "Montserrat SemiBold"
  src url(/assets/fonts/Montserrat-SemiBold.woff2) format('woff2'),
      url(/assets/fonts/Montserrat-SemiBold.woff) format('woff')

@font-face
  font-family "IBMPlexSerif Regular"
  src url(/assets/fonts/ibmplexserif-regular.woff2) format('woff2'),
      url(/assets/fonts/ibmplexserif-regular.woff) format('woff')
  font-weight normal
  font-style normal

@font-face
  font-family "IBMPlexSerif SemiBold"
  src url(/assets/fonts/ibmplexserif-SemiBold.woff2) format('woff2'),
      url(/assets/fonts/ibmplexserif-SemiBold.woff) format('woff')
  font-weight normal
  font-style normal