// @font-face
//   font-family "Montserrat Regular"
//   src url(/assets/fonts/montserrat-regular.woff2) format('woff2'),
//       url(/assets/fonts/montserrat-regular.woff) format('woff')

// @font-face
//   font-family "Montserrat Medium"
//   src url(/assets/fonts/montserrat-medium.woff2) format('woff2'),
//       url(/assets/fonts/montserrat-medium.woff) format('woff')

// @font-face
//   font-family "Montserrat SemiBold"
//   src url(/assets/fonts/montserrat-semibold.woff2) format('woff2'),
//       url(/assets/fonts/montserrat-semibold.woff) format('woff')

// @font-face
//   font-family "IBMPlexSerif Regular"
//   src url(/assets/fonts/ibmplexserif-regular.woff2) format('woff2'),
//       url(/assets/fonts/ibmplexserif-regular.woff) format('woff')
//   font-weight normal
//   font-style normal

// @font-face
//   font-family "IBMPlexSerif SemiBold"
//   src url(/assets/fonts/ibmplexserif-semibold.woff2) format('woff2'),
//       url(/assets/fonts/ibmplexserif-semibold.woff) format('woff')
//   font-weight normal
//   font-style normal