

/* Grid variables */
gutter = 0 20px
marginLarge = 12em
marginMedium = 10em
marginSmall = 6em

breakpoint1400 = 1400px
breakpoint1200= 1200px
breakpoint960 = 960px
breakpoint800 = 800px
breakpoint600 = 600px
breakpoint375 = 375px


/* Vertical margin and padding */
.ml
    margin 12em 0

.pl
    padding 12em 0

.mm
    margin 7em 0

.pm
    padding 7em 0

.ms
    margin 6em 0

.ps
    padding 6em 0


/* Show and hide */
.show-960, .show-800, .show-600, .show-375
    display none


.container
    box-sizing border-box
    max-width breakpoint1400
    padding gutter
    margin 0 auto

.line-break
    border-bottom 1px solid lineGrey
    width 100%


@media screen and (max-width: breakpoint1400)

    .container
        max-width breakpoint1200


@media screen and (max-width: breakpoint1200)

    html, body
        font-size 9px

    .container
        max-width breakpoint960

    /* Vertical margin and padding */
    .ml
        margin 8em 0

    .pl
        padding 8em 0

    .mm
        margin 5em 0

    .pm
        padding 5em 0

    .ms
        margin 4em 0

    .ps
        padding 4em 0


@media screen and (max-width: breakpoint960)

    .show-960
        display block !important

    .button-3.show-960
        display flex !important
    
    .hide-960
        display none !important

    .container
        max-width 100%


@media screen and (max-width: breakpoint800)

    .show-800
        display block !important
    
    .hide-800
        display none !important


@media screen and (max-width: breakpoint600)

    html, body
            font-size 8px

    .show-600
        display block !important
    
    .hide-600
        display none !important

    /* Vertical margin and padding */
    .ml
        margin 6em 0

    .pl
        padding 6em 0

    .mm
        margin 4em 0

    .pm
        padding 4em 0

    .ms
        margin 3em 0

    .ps
        padding 3em 0


@media screen and (max-width: breakpoint375)

    .show-600
        display block !important
    
    .hide-600
        display none !important