/* Top of the page header blocks */

/* Header 1 */
.header-1
    position relative
    width 100%
    height calc(100vh - 13em - 165px)
    min-height 550px
    max-height 800px
    background darkGrey
    z-index -99
    display flex
    align-items center
    justify-content center
    text-align center
    animation fadeIn 1s ease-in-out forwards
    opacity 0

    &-title
        animation fadeInUp 1.2s ease-out

.header-2
    display flex
    align-items center
    justify-content center
    animation fadeIn 1s ease-in-out forwards

    h1, span
        display block
        text-align center
        margin-bottom 0
        animation fadeInUp 1.2s ease-out

.header-3
    height calc(100vh - 13em - 165px)
    min-height 600px
    max-height 800px
    animation fadeIn 1s ease-in-out

#header-image
    position fixed
    top 0
    height calc(100vh - 13em)
    min-width 100%
    min-height 665px
    max-height 965px
    z-index -99

.index-header
    background darkGrey

    video
        position absolute
        min-width 100%
        min-height 100%
        left 50%
        transform translateX(-50%)
        opacity 0.7

/* scroll down button */
.scroll-down-button
    position absolute
    top -25px
    left calc(50% - 25px)
    display flex
    align-items center
    justify-content center
    width 50px
    height 50px
    background-color ampPink
    border-radius 50%
    transition all .3s ease-out

    img
        width 12px
        transform rotate(90deg)
        transition all .3s ease-out

.scroll-down-button.active
    opacity 0
    transform translateY(-50%)
    transition-delay .1s

    img
        opacity 0
        transform translateY(-200%) rotate(90deg)


@media screen and (max-width: breakpoint1400)

    .header-3
        height calc(100vh - 13em - 165px)
        min-height 500px
        max-height 600px


@media screen and (max-width: breakpoint1200)

    /* Header 1 */
    .header-1
        height 500px
        min-height auto

        #header-image
            height 665px
            min-height auto

            video
                max-height 665px

    .header-3
        height 500px
        min-height auto
        max-height auto


@media screen and (max-width: breakpoint960)

    .header-3
        height 400px
        min-height auto
        max-height auto


@media screen and (max-width: breakpoint800)

    /* Header 1 */
    .header-1
        height 400px

        #header-image
            height 565px

            video
                height 565px


@media screen and (max-width: breakpoint600)

    /* Header 1 */
    .header-1
        height 300px
        min-height auto
        max-height auto

        #header-image
            position relative
            height 300px
            min-height auto
            max-height auto

            video
                max-height 300px
                opacity 1

        &-title
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            width 100%

            h1, .sub-header
                text-align center

    /* scroll down button */
    .scroll-down-button
        top -17.5px
        left calc(50% - 17.5px)
        width 35px
        height 35px

        img
            width 10px

    .header-3
        height 280px


@media screen and (max-width: breakpoint375)
    /* Header 1 */
    .header-1
        height 250px

        #header-image
            height 250px

            video
                height 250px

    .header-3
        height 250px