.latest-work
    padding-top 13em
    background-color #ffffff
    position relative
    z-index 1

    &-header
        position absolute
        top -13em
        transform translateY(-100%)
        z-index 99
        padding-right 20px

    &-title
        display flex
        align-items baseline
        justify-content space-between
        margin-bottom 3rem

    &-container
        display flex
        justify-content space-between
    
    &-post
        width calc(50% - 10px)
        background lightGrey


.service-list
    background #ffffff

    &-title

        p
            font-size 3.6rem
            font-family IBMPlexSerifSemiBold
            line-height 1.3
            font-weight normal
            color #9E9E9E
            margin-left calc(1400px / 12)

            :last-child
                color #C2C2C2

    &-container
        display flex
        align-items center
        justify-content space-between
        padding 0 calc(1400px / 12)

    &-category

        h3
            margin-bottom 1.5em
            line-height 1

        p
            line-height 2

        .text-link
            margin-top 2.2em


.blog-feed
    background darkGrey

    &-title
        display flex
        align-items baseline
        justify-content space-between

        h2
            color #ffffff
            margin-bottom 3rem

    &-container
        display flex
        align-items center
        justify-content space-between

    &-post
        position relative
        width calc((100% - 40px) / 3)
        display flex
        flex-direction column
        justify-content center
        align-items center
        background ampBlueBlog
        padding-bottom 2em

        img
            max-width 320px

        &:nth-child(odd)
            background ampPinkBlog
        
    &-post-wrapper
        position absolute
        width 100%
        height 100%
        z-index 99
        top 0
        

.social-feed
    background #ffffff

    &-title
        display flex
        align-items center
        justify-content space-between
        margin-bottom 3rem
        
        img
            max-width 30px
            margin-right 1.5em
            flex-grow 1

        // Reset link arrow margin
        img.social-arrow
            margin-right 0 !important

        h3
            display inline-flex
            align-items center
            font-family IBMPlexSerifSemiBold
            font-size 2.2rem
            line-height 1

    &-title-text
        display flex
        align-items baseline
        justify-content space-between
        flex-grow 2
    
    &-instagram-wrapper
        display flex
        justify-content space-between
        align-items center
        width 100%

    &-instagram-post
        width 215px
        background lightGrey
        
        img 
            width 100%
            height 100%

    &-other
        display flex
        align-items center
        justify-content space-between
        
    &-twitter, &-twitter-title, &-cta
        width calc(50% - 25px)

    &-twitter-wrapper
        width 100%
        height 370px
        display flex
        flex-direction column
        justify-content space-between

    &-twitter-post
        background lightGrey
        width 100%
        height calc(50% - 10px)
        display flex
        flex-direction column
        justify-content center
        box-sizing border-box
        padding 0 6em
        position relative

        a {
            position absolute 
            width 100%
            height 100%
            top 0
            left 0
        }

        p
            font-size 1.8rem
            line-height 3rem
            margin-top 1.5rem
            overflow hidden
            text-overflow ellipsis
            display -webkit-box
            -webkit-box-orient vertical
            -webkit-line-clamp 2
            line-height: 3rem
            max-height: 6rem

    &-cta
        background linear-gradient(to top right, ampBlue, ampPink)
        height 370px
        display flex
        align-items center
        justify-content center

    &-cta-wrapper
        display flex
        flex-direction column
        align-items center
        justify-content center

        h2
            color #ffffff
            font-size 3.4rem

        .button-2
            margin 2em 0 2.2em

    &-cta-details
        text-align center

        h3, p
            color #ffffff

        h3 
            line-height 1.5

        p
            font-family montserratRegular
            font-size 1.8rem
            line-height 1.8


/* Index media queries */
@media screen and (max-width: breakpoint1400)

    .social-feed

        &-instagram-post
            width 185px

        &-twitter-post
            padding 0 4em

        &-twitter, &-twitter-title, &-cta
            width calc(50% - 10px)


@media screen and (max-width: breakpoint1200)

    /* Header Margin */
    .latest-work
        padding-top 8em

        &-header
            top -9em
    
    .service-list

        &-title

            p
                font-size 3.6rem
                margin-left 0

                :last-child
                    color #C2C2C2

        &-container
            padding 0

    .blog-feed

        img
            max-width 90%

    .social-feed

        &-instagram-post
            width 145px

        &-twitter-post
            padding 0 3em

            h3
                font-size 1.7rem


@media screen and (max-width: breakpoint960)

    .service-list

        &-title

            p
                font-size 3rem
                margin-left 0
                color #9E9E9E

                :last-child
                    color #9E9E9E

        &-container
            justify-content flex-start

            .button-3
                margin-top 4rem

        &-category
            display none

    .social-feed

        &-instagram-post
            width calc((100vw - 80px) / 6)
            height calc((100vw - 80px) / 6)


@media screen and (max-width: breakpoint800)

    .blog-feed

        &-container
            flex-direction column
            align-items flex-start

        &-post
            width 100%
            padding 0 2em 2em
            box-sizing border-box

            img
                max-width 320px
            
        &-post:nth-child(-n+2)
            margin-bottom 20px

    .social-feed
        padding-bottom 20px

        &-other
            flex-direction column

        &-twitter, &-twitter-title, &-cta
            width 100%

        &-twitter-wrapper, &-cta
            height auto

        &-twitter-post
            height auto
            padding 4em 20px
            margin-bottom 20px

            h3
                line-height 1.6

        &-cta
            box-sizing border-box
            padding 6em 20px
            

@media screen and (max-width: breakpoint600)

    /* Header Margin */
    .latest-work
        background-color #ffffff
        position relative
        z-index 1

        &-title
            margin-bottom 20px

        &-header
            position relative
            transform none
            top 0
            padding-bottom 8em

        h1, .sub-header
            color darkGrey

        .button-2
            color darkGrey
            border 3px solid darkGrey

        &-container
            flex-direction column
            
        &-post
            width 100%

        &-post:first-child
            margin-bottom 20px

    .blog-feed
        padding-bottom 20px

        &-title
            margin-bottom 20px

            h2
                margin-bottom 0

    .social-feed

        .line-break
            display none

        &-title
            margin-bottom 20px

        &-instagram
            margin-bottom 6em

        &-instagram-wrapper
            flex-wrap wrap

        &-instagram-post
            width calc((100% / 3) - 3px)
            margin-right 3px

        &-instagram-post:nth-child(-n+3)
            margin-bottom 3px


// Just for twitter post line width and cta in social feed
.show-450
    display none

@media screen and (max-width: 450px)

    .show-450
        display block

    .social-feed

        &-cta

            h2
                font-size 3rem
                text-align center


@media screen and (max-width: breakpoint375)

    /* Header Margin */
    .latest-work
        padding-top 6em

        &-header
            padding-bottom 6em

    .social-feed

        &-title

            img
                max-width 20px
                margin-right 0.8em


        
