.latest-work
    padding-top 13em
    background-color #ffffff
    position relative
    z-index 1

    &-header
        position absolute
        top -13em
        transform translateY(-100%)
        z-index 99

    &-title
        display flex
        align-items baseline
        justify-content space-between
        margin-bottom 3rem

    &-container
        display flex
        justify-content space-between
    
    &-post
        width calc(50% - 10px)
        background lightGrey


.service-list
    padding marginLarge 0
    background #ffffff

    &-title

        p
            font-size 3.6rem
            font-family IBMPlexSerifSemiBold
            line-height 1.3
            font-weight normal
            color #9E9E9E
            margin-left calc(1400px / 12)

            :last-child
                color #C2C2C2

    &-container
        display flex
        align-items center
        justify-content space-between
        padding 0 calc(1400px / 12)

    &-category

        h3
            margin-bottom 1.5em
            line-height 1

        p
            line-height 2

        .text-link
            margin-top 2.2em


.blog-feed
    padding marginMedium 0
    background darkGrey

    &-title
        display flex
        align-items baseline
        justify-content space-between

        h2
            color #ffffff
            margin-bottom 3rem

    &-container
        display flex
        align-items center
        justify-content space-between

    &-post
        position relative
        width calc((100% - 40px) / 3)
        display flex
        flex-direction column
        justify-content center
        align-items center
        background ampBlueBlog
        padding-bottom 2em

        img
            max-width 320px
            margin marginSmall 0

        &:nth-child(odd)
            background ampPinkBlog
        
    &-post-wrapper
        position absolute
        width 100%
        height 100%
        z-index 99
        

.social-feed
    padding marginLarge 0
    background #ffffff

    &-title
        display flex
        align-items center
        justify-content space-between
        margin-bottom 3rem
        
        img
            max-width 30px
            margin-right 1.5em
            flex-grow 1

        h3
            display inline-flex
            align-items center
            font-family IBMPlexSerifSemiBold
            font-size 2.2rem
            line-height 1

    &-title-text
        display flex
        align-items baseline
        justify-content space-between
        flex-grow 2
    
    &-instagram-wrapper
        display flex
        justify-content space-between
        align-items center
        width 100%

    &-instagram-post
        width 203px
        height 203px
        
        img 
            width 100%
            height 100%

    &-other
        display flex
        align-items center
        justify-content space-between

    &-twitter-title
        width calc(50% - 25px)
        
    &-twitter, &-cta
        width calc(50% - 25px)

    &-twitter-wrapper
        width 100%
        height 370px
        display flex
        flex-direction column
        justify-content space-between

    &-twitter-post
        background lightGrey
        width 100%
        height calc(50% - 10px)

    &-cta
        background linear-gradient(to top right, ampBlue, ampPink)
        height 370px
        display flex
        align-items center
        justify-content center

    &-cta-wrapper
        display flex
        flex-direction column
        align-items center
        justify-content center

        h2
            color #ffffff
            font-size 3.4rem

        .button-2
            margin 2em 0 2.2em

    &-cta-details
        text-align center

        h3, p
            color #ffffff

        h3 
            line-height 1.5

        p
            font-family montserratRegular
            font-size 1.8rem
            line-height 1.8

        
