.render-videos
    background #ffffff

    video
        width 100%

    .video-container:nth-child(n+2)
        margin-top 4rem


@media screen and (max-width: breakpoint960)

    .render-videos

        .video-container:nth-child(n+2)
            margin-top 20px