.site-info
    background #ffffff
    display flex
    align-items center
    position relative
    z-index 1

    .button-1
        background-color #ffffff
        cursor pointer

    h3
        margin 1.5em 0 0

    p
        max-width 1000px
        margin-top 0.5em

    &-404
        display flex
        flex-direction column
        align-items center

        h2
            margin-bottom 2rem