$breakpointLarge = 1280px
$breakpointMedium = 1023px
$breakpointSmall = 767px
$breakpointXSmall = 360px

$containerPadding = 3rem

$primaryColor = hsl(0, 68%, 42%)
$primaryColorAccent = hsl(0, 68%, 32%)

$linkColor = hsl(0, 68%, 42%)
$linkColorAccent = hsl(0, 68%, 32%)

$richBlack = #16222a
$lightGrey = #f8f8f8

// $font = "Font", Helvetica, Arial, sans-serif