/* Break points */

breakpointLarge = 1400px
breakpointMedium = 1023px
breakpointSmall = 767px
breakpointXSmall = 360px
containerPadding = 3rem

gutter = 0 20px


/* Color palette */

ampPink = rgb(226, 6, 116)
ampBlue = rgb(52, 0, 172)
titleShadow = rgba(0, 0, 0, 0.14)
lightGrey = rgb(243, 243, 243)
darkGrey = rgb(33, 33, 33)
ampBlueBlog = rgb(53, 12, 147)
ampPinkBlog = rgb(185, 7, 96)