
/* Color palette */

ampPink = rgb(226, 6, 116)
ampBlue = rgb(52, 0, 172)
titleShadow = rgba(0, 0, 0, 0.14)
lightGrey = rgb(243, 243, 243)
greyMedium = rgb(85, 85, 85)
darkGrey = rgb(33, 33, 33)
ampBlueBlog = rgb(53, 12, 147)
ampPinkBlog = rgb(185, 7, 96)
lineGrey = rgb(224, 224, 224)
title-shadow = rgba(0, 0, 0, 0.3)


/* Fonts */

montserratRegular = 'Montserrat Regular', Helvetica, Tahoma, sans-serif
montserratMedium = 'Montserrat Medium', Helvetica, Tahoma, sans-serif
montserratSemiBold = 'Montserrat SemiBold', Helvetica, Tahoma, sans-serif
IBMPlexSerifRegular = 'IBMPlexSerif Regular', Georgia, Times, serif
IBMPlexSerifSemiBold = 'IBMPlexSerif SemiBold', Georgia, Times, serif