.wedgewood-homepage
    max-width 566px
    min-width 300px
    width 80%
    height auto
    box-shadow 0 0 30px 0 rgba(0, 0, 0, 0.08)

@media screen and (max-width: breakpoint1200)

    .wedgewood-homepage
        width 50%
        margin 6em 0

@media screen and (max-width: breakpoint800)

    .wedgewood-homepage
        width calc(100% - 80px)
        min-width auto