<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}

<body>
    {% include navigation.html %}

    <section class="header-2 pl">
        <div class="container">
            <span class="sub-header">Oops!</span>
            <h1>Page not found :(</h1>
        </div>
    </section>

    <section class="site-info pm">
        <div class="container site-info-404">
            <h2>But don't quit, there's plenty to see.</h2>
            <a class="button-1 hide-800" onclick="history.back()">
                <span>Onwards!</span>
                <span>
                    <img src="/assets/img/arrow-right.svg">
                </span>
            </a>
        </div>
    </section>

    {% include footer.html %}

    <script async src="/assets/js/navigation-min.js"></script>

</body>

</html>