<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}

<body>
    {% include navigation.html %}

    <section class="header-1">
        <div class="about-header-overlay"></div>
        <div id="header-image" class="bg about-bg header-fade"></div>
        <div class="header-1-title header-1-title-about header-fade">
            <span class="sub-header">About AMP</span>
            <h1>We’re dedicated to design
                <br>and focused on results.</h1>
        </div>
    </section>

    <section class="about-intro pl">
        <span class="scroll-down-button">
            <img src="/assets/img/arrow-white.svg">
        </span>
        <div class="about-intro-text">
            <h2>Web &amp; CGI Specialists</h2>
            <span class="sub-title">Based in Stoke-on-Trent, UK</span>
            <p>We’re a tight-knit team of creatives and tech enthusiasts, driven by a passion for quality, attention to detail
                and efficiency in everything that we do. Formed in 2017, AMP’s mission is to help products and brands to
                grow by speaking clearly and effectively to their customers.
            </p>
        </div>
    </section>

    <section class="our-values">
        <div class="service">
            <div class="service-text-wrapper">
                <div class="service-text">
                    <h2>Our Core Values</h2>
                    <p>Every day at AMP we seek out new ideas, thoughts and relationships. Our core values guide and remind
                        us what we stand for:
                    </p>
                    <div class="line-break dark"></div>
                    <ul>
                        <li>1. High quality is the only quality</li>
                        <li>2. Always go beyond expectations</li>
                        <li>3. Learn something new on a daily basis</li>
                        <li>4. Share ideas and collaborate with others</li>
                        <li>5. Be humble and thoughtful</li>
                    </ul>
                </div>
            </div>
            <div class="service-image about-image-1"></div>
        </div>
    </section>

    <section class="team pl">
        <div class="container">
            <div class="team-title">
                <h2>Meet Team AMP</h2>
            </div>
            <div class="team-wrapper">
                <div class="team-member">
                    <img src="/assets/img/pete.jpg">
                    <div class="team-member-text">
                        <h3>Peter Robinson</h3>
                        <h4>CGI Specialist</h4>
                    </div>
                </div>
                <div class="team-member">
                    <img src="/assets/img/dan.jpg">
                    <div class="team-member-text">
                        <h3>Dan Mountford</h3>
                        <h4>Designer &amp; Developer</h4>
                    </div>
                </div>
                <div class="team-member">
                    <img src="/assets/img/lewis.jpg">
                    <div class="team-member-text">
                        <h3>Lewis Booth</h3>
                        <h4>Designer &amp; Developer</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

    <script async src="/assets/js/navigation-min.js"></script>
    <script async src="/assets/js/header-min.js"></script>

</body>

</html>