<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}

<body>
    {% include navigation.html %}

    <section class="header-1">
        <div class="about-header-overlay"></div>
        <div id="header-image" class="about-bg header-fade"></div>
        <div class="header-1-title header-fade">
            <span class="sub-header">About AMP</span>
            <h1>We’re dedicated to design
                <br>and focused on results.</h1>
        </div>
    </section>

    <section class="about-intro pl">
        <span class="scroll-down-button">
            <img src="/assets/img/arrow-white.svg">
        </span>
        <div class="about-intro-text">
            <h2>Web &amp; CGI Specialists</h2>
            <span class="sub-title">Based in Stoke-on-Trent, UK</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet purus velit. Etiam ut justo quis tortor
                malesuada ultricies in at justo. Vivamus vitae elit laoreet, posuere urna vitae, pharetra metus. Integer
                nunc mi, lacinia et tortor nec, lobortis.</p>
        </div>
    </section>

    <section class="our-values">
        <div class="service">
            <div class="service-text-wrapper">
                <div class="service-text">
                    <h2>Our Core Values</h2>
                    <p>Every day is a new day at AMP and each day brings new ideas, thoughts and relationships. Our core values
                        remind us what we stand for:
                    </p>
                    <div class="line-break dark"></div>
                    <ul>
                        <li>1. High quality is the only quality</li>
                        <li>2. Always go beyond expectations</li>
                        <li>3. Learn something new on a daily basis</li>
                        <li>4. Share ideas with others</li>
                        <li>5. Be humble and thoughtful</li>
                    </ul>
                </div>
            </div>
            <div class="service-image about-image-1"></div>
        </div>
    </section>

    <section class="team pl">
        <div class="container">
            <div class="team-title">
                <h2>Meet Team Amp</h2>
            </div>
            <div class="team-wrapper">
                <div class="team-member">
                    <img src="/assets/img/pete.jpg">
                    <div class="team-member-text">
                        <h3>Peter Robinson</h3>
                        <h4>CGI Specialist</h4>
                    </div>
                </div>
                <div class="team-member">
                    <img src="/assets/img/dan.jpg">
                    <div class="team-member-text">
                        <h3>Dan Mountford</h3>
                        <h4>Designer &amp; Developer</h4>
                    </div>
                </div>
                <div class="team-member">
                    <img src="/assets/img/lewis.jpg">
                    <div class="team-member-text">
                        <h3>Lewis Booth</h3>
                        <h4>Designer &amp; Developer</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

    <script async src="/assets/js/navigation-min.js"></script>
    <script async src="/assets/js/header-min.js"></script>

</body>

</html>