<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}

<body>
    {% include navigation.html %}

    <section class="header-2 pl">
        <div class="container">
            <span class="sub-header">{{ page.header }}</span>
            <h1>Project in progress.</h1>
        </div>
    </section>

    <section class="project-stats pl">
        <div class="container">
            <img src="/assets/img/portfolio/{{ page.img }}" alt="{{ page.header }}">
            <div class="project-stats-bars">
                <div class="project-stats-bars-wrapper">
                    <div class="project-stats-bars-text">
                        <h2>The Stats</h2>
                        <p>Here's our progress with this project:</p>
                    </div>
                    <div class="project-stats-bar meeting-{{ page.meeting }}">
                        <h4>Initial Meeting</h4>
                        <div class="bar">
                            <div class="bar-progress">
                                <span></span>
                            </div>
                            <h3 data-range="{{ page.meeting }}">0%</h3>
                        </div>
                    </div>
                    <div class="project-stats-bar design-{{ page.production }}">
                        <h4>Production</h4>
                        <div class="bar">
                            <div class="bar-progress">
                                <span></span>
                            </div>
                            <h3 data-range="{{ page.production }}">0%</h3>
                        </div>
                    </div>
                    <div class="project-stats-bar sign-{{ page.sign }}">
                        <h4>Sign Off</h4>
                        <div class="bar">
                            <div class="bar-progress">
                                <span></span>
                            </div>
                            <h3 data-range="{{ page.sign }}">0%</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="project-info pm">
        <div class="container">
            <div class="project-info-block">
                <h2>Want to know more
                    <br class="show-600">&nbsp;about this project?</h2>
                <a class="button-1" href="/contact/">
                    <span>Contact Us</span>
                    <span>
                        <img src="/assets/img/arrow-right.svg">
                    </span>
                </a>
            </div>
        </div>
    </section>


    {% include coming-soon-post-feed.html %} {% include footer.html %}

    <script>{% include navigation-min.js %}</script>
    <script>{% include video-play-min.js %}</script>
    <script>{% include coming-soon-min.js %}</script>

    

</body>

</html>