<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}

<body>
    {% include navigation.html %}

    <section class="header-3 bg great-bear-bg header-fade">
    </section>

    <section class="portfolio-description pl">
        <span class="scroll-down-button">
            <img src="/assets/img/arrow-white.svg">
        </span>
        <div class="container">
            <div class="portfolio-description-text">
                <h2>Great Bear Tattoo</h2>
                <p>Established in May 2016, Great Bear Tattoo quickly built a loyal following on Facebook with consistently
                    high quality work and a focus on approachability. In 2017 we were approached to help elevate the brand
                    to the next level with professional photography and a short promotional video.</p>
            </div>
            <div class="portfolio-description-services">
                <div class="portfolio-description-services-text">
                    <h3>Services Provided</h3>
                    <p>Promotional Video • Photography</p>
                </div>
                <a class="button-1" href="http://greatbeartattoo.co.uk/" target="_blank">
                    <span>Visit Site</span>
                    <span>
                        <img src="/assets/img/arrow-right.svg">
                    </span>
                </a>
            </div>
        </div>
    </section>

    <section class="portfolio-images">
        <div class="container iframe">
            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fgreatbeartattoo%2Fvideos%2F1942105072741865%2F&show_text=0&width=560"
                style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </div>
    </section>

    <section class="portfolio-description pl">
        <div class="container">
            <div class="portfolio-description-text">
                <h2>Effective Social Content</h2>
                <p>A single 2 hour photography and video shoot was all that was required to generate a powerful video and months
                    worth of drip-fed social content. The photos were slowly released with added graphics to create a strong
                    brand presence on Facebook. Along with Great Bear Tattoo’s excellent reviews and regular work updates,
                    they’ve generated an exceptionally high demand with a 14 month waiting list that just keeps growing.</p>
                <div>
                    <div>
                        <p>
                            <span>4, 500+</span>
                            <br>Organic Views</p>
                        <p>
                            <span>30+</span>
                            <br>Professional Photos</p>
                        <p>
                            <span>200+</span>
                            <br>New Followers</p>
                    </div>
                </div>
            </div>
            <div class="portfolio-description-image">
                <img src="/assets/img/portfolio/wedgewood/wedgewood-tablet-mockup.jpg" alt="Wedgewood Gas website">
            </div>
        </div>
    </section>

    {% include portfolio-post-feed.html %} {% include footer.html %}

    <script async src="/assets/js/navigation-min.js"></script>
    <script async src="/assets/js/header-min.js"></script>
    <script async src="/assets/js/portfolio-min.js"></script>

</body>

</html>