<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}

<body>
    {% include navigation.html %}

    <section class="header-2 bg image-production-bg pl">
        <div class="bg-overlay"></div>
        <div class="container">
            <span class="sub-header">Our Services</span>
            <h1>{{ page.header }}</h1>
        </div>
    </section>

    <section class="service-page-content pl">
        <div class="container">
            <p class="first">{{ page.content }}</p>
        </div>
    </section>

    <section class="service-page-services">
        <div class="container">
            <div class="service-page-services-service">
                <div class="service-page-services-service-text">
                    <h2>CGI Imagery &amp; Animation</h2>
                    <p>3D digital imagery is a highly flexible, cost-efficient solution to visualising architecture, products
                        and advanced motion graphics. With 25 years experience, we can create a wide variety of stunning
                        visuals. See our architecture renders page for a glimpse of what we can create for you.</p>
                    <a class="button-1" href="/contact/">
                        <span>Start a Project</span>
                        <span>
                            <img src="/assets/img/arrow-right.svg">
                        </span>
                    </a>
                </div>
                <div class="service-page-services-service-image">
                    <img src="/assets/img/services/cgi-imagery-animation.jpg" alt="CGI &amp; Animation">
                </div>
            </div>
            <div class="service-page-services-service">
                <div class="service-page-services-service-text">
                    <h2>Product Imagery</h2>
                    <p>Our CGI and photography skills allow us to capture or visualise your product in the best light, ready
                        for use on the web, in videos or on packaging. With CGI, we can create imagery before your product
                        even goes into production.
                    </p>
                    <a class="button-1" href="/contact/">
                        <span>Start a Project</span>
                        <span>
                            <img src="/assets/img/arrow-right.svg">
                        </span>
                    </a>
                </div>
                <div class="service-page-services-service-image">
                    <img src="/assets/img/services/product-imagery.jpg" alt="Product imagery">
                </div>
            </div>
            <div class="service-page-services-service">
                <div class="service-page-services-service-text">
                    <h2>Video Production</h2>
                    <p>Take your brand to the next level with a promotional video, company profile, instructional product video
                        or interview. We storyboard, shoot and edit videos that tell your story, engage your audience and
                        sell products.
                    </p>
                    <a class="button-1" href="/contact/">
                        <span>Start a Project</span>
                        <span>
                            <img src="/assets/img/arrow-right.svg">
                        </span>
                    </a>
                </div>
                <div class="service-page-services-service-image">
                    <img src="/assets/img/services/video-production.jpg" alt="Video production">
                </div>
            </div>
            <div class="service-page-services-service">
                <div class="service-page-services-service-text">
                    <h2>Motion Graphics &amp; Post Production</h2>
                    <p>Video production doesn’t stop at the location shoot – we edit, colour grade, add soundtracks and visual
                        effects to our videos for a professional result. Whether you need eye-catching typography, complex
                        3D motion graphics or animations, we’ve got you covered.
                    </p>
                    <a class="button-1" href="/contact/">
                        <span>Start a Project</span>
                        <span>
                            <img src="/assets/img/arrow-right.svg">
                        </span>
                    </a>
                </div>
                <div class="service-page-services-service-image">
                    <img src="/assets/img/services/motion-graphics.jpg" alt="motion graphics">
                </div>
            </div>
            <div class="service-page-services-service">
                <div class="service-page-services-service-text">
                    <h2>Commercial Photography</h2>
                    <p>High quality photography is a great way to add value to your brand, from commercial product photos to
                        location images, event coverage, corporate headshots and more. A single location shoot can provide
                        dozens of professional images for use across social media, websites, print advertising and packaging.</p>
                    <a class="button-1" href="/contact/">
                        <span>Start a Project</span>
                        <span>
                            <img src="/assets/img/arrow-right.svg">
                        </span>
                    </a>
                </div>
                <div class="service-page-services-service-image">
                    <img src="/assets/img/services/commercial-photography.jpg" alt="Commercial photography">
                </div>
            </div>
        </div>
    </section>

    <section class="stack pl">
        <div class="container">
            <h2>Our Tech</h2>
            <div class="stack-list">
                <div class="stack-list-image">
                    <img src="/assets/img/stack/cinema-4d.png" alt="Cinema 4D">
                </div>
                <div class="stack-list-image">
                    <img src="/assets/img/stack/octane.svg" alt="Octane">
                </div>
                <div class="stack-list-image">
                    <img src="/assets/img/stack/1080-ti.svg" alt="1080 TI">
                </div>
                <div class="stack-list-image">
                    <img src="/assets/img/stack/x-particles.svg" alt="X Particles">
                </div>
                <div class="stack-list-image">
                    <img src="/assets/img/stack/adobe-cc.svg" alt="Adobe-cc">
                </div>
                <div class="stack-list-image">
                    <img src="/assets/img/stack/d-r-14.svg" alt="DaVinci Resolve">
                </div>
            </div>
        </div>
    </section>

    <section class="service-cta">
        <div class="container">
            <h2>Ready to work with us?</h2>
            <a class="button-1" href="/contact/">
                <span>Start a Project</span>
                <span>
                    <img class="social-arrow" src="/assets/img/arrow-right.svg">
                </span>
            </a>
            <div class="service-cta-details">
                <h3>Feel free to contact us:</h3>
                <p>enquiries@amp.studio</p>
                <p>01782 853973</p>
            </div>
            <div class="line-break mm"></div>
        </div>
    </section>

    <section class="other-services pl">
        <div class="container">
            <div class="other-services-title">
                <h2>Other Services</h2>
                <a href="/services/" class="text-link">
                    <span>All Services</span>
                    <span>
                        <img src="/assets/img/arrow-pink.svg">
                    </span>
                </a>
            </div>
            <div class="other-services-container">
                <div class="other-services-service">
                    <a class="latest-work-post-wrapper-top" href="/services/brand/"></a>
                    <div class="latest-work-post-hover">
                        <div class="latest-work-post-hover-title">
                            <h2>Brand Strategy</h2>
                        </div>
                        <div class="latest-work-post-arrow">
                            <span>
                                <img src="/assets/img/arrow-right.svg">
                            </span>
                        </div>
                        <a class="latest-work-post-wrapper-bottom"></a>
                    </div>
                    <img src="/assets/img/services-brand-strategy-thumb.jpg" alt="brand strategy">
                </div>
                <div class="other-services-service">
                    <a class="latest-work-post-wrapper-top" href="/services/web/"></a>
                    <div class="latest-work-post-hover">
                        <div class="latest-work-post-hover-title">
                            <h2>Web Design</h2>
                        </div>
                        <div class="latest-work-post-arrow">
                            <span>
                                <img src="/assets/img/arrow-right.svg">
                            </span>
                        </div>
                        <a class="latest-work-post-wrapper-bottom"></a>
                    </div>
                    <img src="/assets/img/services-web-design-thumb.jpg" alt="web design">
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

    <script>{% include navigation-min.js %}</script>

</body>

</html>