<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}

<body>
    {% include navigation.html %}
    <section class="header-1 index-bg">
        <div class="container">
            <div class="header-1-content">
                <span class="sub-header">Welcome to AMP Studio</span>
                <h1>We create bespoke websites and imagery
                    <br>for growing businesses.</h1>
                <a class="button-2" href="/contact/">
                    <span>Our Services</span>
                    <span>
                        <img src="assets/img/arrow-white.svg">
                    </span>
                </a>
            </div>
        </div>
    </section>

    <section class="latest-work">
        <span class="scroll-down-button">
            <img src="assets/img/arrow-white.svg">
        </span>
        <div class="container">
            <div class="latest-work-title">
                <h2>Latest Work</h2>
                <a class="text-link">
                    <span>More Projects</span>
                    <span>
                        <img src="assets/img/arrow-pink.svg">
                    </span>
                </a>
            </div>
        </div>
    </section>
</body>

</html>