<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}

<body>
    {% include navigation.html %}
    <section class="header-1">
        <div id="header-image" class="index-bg header-fade"></div>
        <div class="container">
        </div>
    </section>

    <section class="latest-work">
        <span class="scroll-down-button">
            <img src="assets/img/arrow-white.svg">
        </span>
        <div class="container">
            <div class="latest-work-header header-fade">
                <span class="sub-header">Welcome to AMP Studio</span>
                <h1>We create bespoke websites and imagery
                    <br>for growing businesses.</h1>
                <a class="button-2" href="/contact/">
                    <span>Our Services</span>
                    <span>
                        <img src="assets/img/arrow-white.svg">
                    </span>
                </a>
            </div>
            <div class="latest-work-title">
                <h2>Latest Work</h2>
                <a class="text-link">
                    <span>More Projects</span>
                    <span>
                        <img src="assets/img/arrow-pink.svg">
                    </span>
                </a>
            </div>
            <div class="latest-work-container">
                {% for post in site.categories.portfolio limit:2 %}
                <div class="latest-work-post">
                    <a href="{{ post.url }}">
                        <img src="/assets/img/portfolio/{{ post.img }}" alt="{{ post.title }}">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </section>

    <section class="service-list pl">
        <div class="container">
            <div class="service-list-title">
                <p>
                    <span>We don’t offer the same service twice.</span>
                    <br>
                    <span>Our services are tailored to cater for each individual project.</span>
                </p>
            </div>
            <div class="line-break mm"></div>
            <div class="service-list-container">
                <div class="service-list-category">
                    <li>
                        <h3>Image Production</h3>
                    </li>
                    <li>
                        <p>CGI product visualisation</p>
                    </li>
                    <li>
                        <p>Architectural visualisation</p>
                    </li>
                    <li>
                        <p>Motion graphics</p>
                    </li>
                    <li>
                        <p>CGI animation &amp; video</p>
                    </li>
                    <li>
                        <p>Exhibition &amp; set visualisation</p>
                    </li>
                    <a class="text-link">
                        <span>Read More</span>
                        <span>
                            <img src="assets/img/arrow-pink.svg">
                        </span>
                    </a>
                </div>
                <div class="service-list-category">
                    <li>
                        <h3>Image Production</h3>
                    </li>
                    <li>
                        <p>CGI product visualisation</p>
                    </li>
                    <li>
                        <p>Architectural visualisation</p>
                    </li>
                    <li>
                        <p>Motion graphics</p>
                    </li>
                    <li>
                        <p>CGI animation &amp; video</p>
                    </li>
                    <li>
                        <p>Exhibition &amp; set visualisation</p>
                    </li>
                    <a class="text-link">
                        <span>Read More</span>
                        <span>
                            <img src="assets/img/arrow-pink.svg">
                        </span>
                    </a>
                </div>
                <div class="service-list-category">
                    <li>
                        <h3>Image Production</h3>
                    </li>
                    <li>
                        <p>CGI product visualisation</p>
                    </li>
                    <li>
                        <p>Architectural visualisation</p>
                    </li>
                    <li>
                        <p>Motion graphics</p>
                    </li>
                    <li>
                        <p>CGI animation &amp; video</p>
                    </li>
                    <li>
                        <p>Exhibition &amp; set visualisation</p>
                    </li>
                    <a class="text-link">
                        <span>Read More</span>
                        <span>
                            <img src="assets/img/arrow-pink.svg">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-feed pm">
        <div class="container">
            <div class="blog-feed-title">
                <h2>Latest Work</h2>
                <a class="text-link">
                    <span>More Projects</span>
                    <span>
                        <img src="assets/img/arrow-pink.svg">
                    </span>
                </a>
            </div>
            <div class="blog-feed-container">
                {% for post in site.categories.blog limit:3 %}
                <div class="blog-feed-post">
                    <a class="blog-feed-post-wrapper" href="{{ post.url }}"></a>
                    <img class="ms" src="/assets/img/blog/{{ post.img }}" alt="{{ post.title }}">
                    <a class="blog-tag">{{ post.tag }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="social-feed pl">
        <div class="container">
            <div class="social-feed-instagram">
                <div class="social-feed-title">
                    <img src="/assets/img/instagram.svg">
                    <div class="social-feed-title-text">
                        <h3>@ampstudioUK
                        </h3>
                        <a class="text-link">
                            <span>More Photos</span>
                            <span>
                                <img src="assets/img/arrow-pink.svg">
                            </span>
                        </a>
                    </div>
                </div>
                <div id="instafeed" class="social-feed-instagram-wrapper">
                    <div class="social-feed-instagram-post"></div>
                    <div class="social-feed-instagram-post"></div>
                    <div class="social-feed-instagram-post"></div>
                </div>
            </div>
            <div class="line-break mm"></div>
            <div class="social-feed-twitter-title">
                <div class="social-feed-title">
                    <img src="/assets/img/twitter.svg">
                    <div class="social-feed-title-text">
                        <h3>
                            Latest Tweets
                        </h3>
                        <a class="text-link">
                            <span>More Tweets</span>
                            <span>
                                <img class="social-arrow" src="assets/img/arrow-pink.svg">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="social-feed-other">
                <div class="social-feed-twitter">
                    <div id="twitter-feed" class="social-feed-twitter-wrapper">
                    </div>
                </div>
                <div class="social-feed-cta">
                    <div class="social-feed-cta-wrapper">
                        <h2>Ready to work with us?</h2>
                        <a class="button-2" href="/contact/">
                            <span>Start a Project</span>
                            <span>
                                <img class="social-arrow" src="assets/img/arrow-white.svg">
                            </span>
                        </a>
                        <div class="social-feed-cta-details">
                            <h3>Feel free to contact us:</h3>
                            <p>enquiries@amp.studio</p>
                            <p>01782 853973</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

    <script async src="assets/js/navigation-min.js"></script>
    <script async src="assets/js/header-min.js"></script>
    <script async src="assets/js/instafeed-min.js"></script>
    <script async src="assets/js/twitterapi-min.js"></script>

</body>

</html>