<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}

<body>
    {% include navigation.html %}
    <section class="header-1">
        {% comment %} <div id="header-image" class="index-header header-fade video-controls">
            <video poster="/assets/img/loop-animation-poster.jpg" autoplay loop muted>
                <source src="/assets/img/videos/loop-animation.mp4" type="video/mp4">
            </video>
            <button class="header-video-button" title="Toggle Play"></button>
        </div> {% endcomment %}
    </section>

    <section class="latest-work">
        <span class="scroll-down-button">
            <img src="assets/img/arrow-white.svg">
        </span>
        <div class="container">
            <div class="page-header latest-work-header header-fade">
                <span class="sub-header">Welcome to AMP Studio</span>
                <h1>We create bespoke websites and imagery&nbsp;
                    <br class="hide-800 again-375">for growing businesses.</h1>
                <a class="button-2" href="/services/">
                    <span>Our Services</span>
                    <span>
                        <img class="hide-600" src="/assets/img/arrow-white.svg">
                        <img class="show-600" src="/assets/img/arrow-right.svg">
                    </span>
                </a>
            </div>
            <div class="latest-work-title">
                <h2>Latest Work</h2>
                <a href="/our-work/" class="text-link">
                    <span>More Projects</span>
                    <span>
                        <img src="assets/img/arrow-pink.svg">
                    </span>
                </a>
            </div>
            <div class="latest-work-container">
                {% for post in site.categories.portfolio limit:2 %}
                <div class="latest-work-post">
                    <a class="latest-work-post-wrapper-top" href="{{ post.url }}"></a>
                    <div class="latest-work-post-hover hide-1200">
                        <div class="latest-work-post-hover-title">
                            <h2>{{ post.header }}</h2>
                            <p class="main-nav-link">{{ post.subtitle }}</p>
                        </div>
                        <div class="latest-work-post-arrow">
                            <span>
                                <img src="assets/img/arrow-right.svg">
                            </span>
                        </div>
                        <a class="latest-work-post-wrapper-bottom"></a>
                    </div>
                    <img src="/assets/img/portfolio/{{ post.img }}" alt="{{ post.title }}">
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </section>

    <section class="service-list pl">
        <div class="container">
            <div class="service-list-title">
                <p>
                    <span>We don’t offer the same service twice.&nbsp;</span>
                    <br class="hide-600">
                    <span>Our services are tailored to cater for each individual project.</span>
                </p>
            </div>
            <div class="line-break mm hide-960"></div>
            <div class="service-list-container">
                <a class="button-3 show-960" href="/services/">
                    <span>All Services</span>
                    <span>
                        <img src="/assets/img/arrow-right.svg">
                    </span>
                </a>
                <div class="service-list-category">
                    <li>
                        <h3>Image Production</h3>
                    </li>
                    <li>
                        <p>CGI product visualisation</p>
                    </li>
                    <li>
                        <p>Architectural visualisation</p>
                    </li>
                    <li>
                        <p>Motion graphics</p>
                    </li>
                    <li>
                        <p>CGI animation &amp; video</p>
                    </li>
                    <li>
                        <p>Exhibition &amp; set visualisation</p>
                    </li>
                    <a href="/services/image/" class="service-list-wrapper"></a>
                    <a class="text-link">
                        <span>Read More</span>
                        <span>
                            <img src="assets/img/arrow-pink.svg">
                        </span>
                    </a>
                </div>
                <div class="service-list-category">
                    <li>
                        <h3>Brand Strategy &amp; Creative</h3>
                    </li>
                    <li>
                        <p>Logo &amp; brand development</p>
                    </li>
                    <li>
                        <p>Photography</p>
                    </li>
                    <li>
                        <p>Illustration &amp; technical drawing</p>
                    </li>
                    <li>
                        <p>Design for print</p>
                    </li>
                    <li>
                        <p>Design for digital media</p>
                    </li>
                    <a href="/services/brand/" class="service-list-wrapper"></a>
                    <a class="text-link">
                        <span>Read More</span>
                        <span>
                            <img src="/assets/img/arrow-pink.svg">
                        </span>
                    </a>
                </div>
                <div class="service-list-category">
                    <li>
                        <h3>Web Design &amp; Development</h3>
                    </li>
                    <li>
                        <p>Content management systems</p>
                    </li>
                    <li>
                        <p>Ecommerce websites</p>
                    </li>
                    <li>
                        <p>Social media marketing</p>
                    </li>
                    <li>
                        <p>Email marketing</p>
                    </li>
                    <li>
                        <p>Hosting &amp; maintenance</p>
                    </li>
                    <a href="/services/web/" class="service-list-wrapper"></a>
                    <a class="text-link">
                        <span>Read More</span>
                        <span>
                            <img src="assets/img/arrow-pink.svg">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-feed pm">
        <div class="container">
            <div class="blog-feed-title">
                <h2>Our Blog</h2>
                <a href="/blog/" class="text-link">
                    <span>More Posts</span>
                    <span>
                        <img src="/assets/img/arrow-pink.svg">
                    </span>
                </a>
            </div>
            <div class="blog-feed-container">
                {% for post in site.categories.blog limit:3 %}
                <div class="blog-feed-post">
                    <a class="blog-feed-post-wrapper" href="{{ post.url }}"></a>
                    <img class="ms" src="/assets/img/blog/{{ post.img }}" alt="{{ post.header }}">
                    <a class="blog-tag format-tag">{{ post.categories[1] | replace: "-", " " }}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="social-feed pl">
        <div class="container">
            <div class="social-feed-instagram">
                <div class="social-feed-title">
                    <img src="/assets/img/instagram.svg">
                    <div class="social-feed-title-text">
                        <h3>@ampstudioUK
                        </h3>
                        <a href="{{ site.instagram_username }}" target="_blank" class="text-link">
                            <span>More Photos</span>
                            <span>
                                <img class="social-arrow" src="assets/img/arrow-pink.svg">
                            </span>
                        </a>
                    </div>
                </div>
                <div id="instafeed" class="social-feed-instagram-wrapper">
                </div>
            </div>
            <div class="line-break mm"></div>
            <div class="social-feed-twitter-title">
                <div class="social-feed-title">
                    <img src="/assets/img/twitter.svg">
                    <div class="social-feed-title-text">
                        <h3>
                            Latest Tweets
                        </h3>
                        <a href="{{ site.twitter_username }}" target="_blank" class="text-link">
                            <span>More Tweets</span>
                            <span>
                                <img class="social-arrow" src="assets/img/arrow-pink.svg">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="social-feed-other">
                <div class="social-feed-twitter">
                    <div id="twitter-feed" class="social-feed-twitter-wrapper">
                    </div>
                </div>
                <div class="social-feed-cta">
                    <div class="social-feed-cta-wrapper">
                        <h2>Ready to work with us?</h2>
                        <a class="button-2" href="/contact/">
                            <span>Start a Project</span>
                            <span>
                                <img class="social-arrow" src="assets/img/arrow-white.svg">
                            </span>
                        </a>
                        <div class="social-feed-cta-details">
                            <h3>Feel free to contact us:</h3>
                            <p>enquiries@amp.studio</p>
                            <p>01782 853973</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

    <script>{% include navigation-min.js %}</script>
    <script>{% include header-min.js %}</script>
    <script>{% include video-play-min.js %}</script>
    {% include instafeed.html %}
    <script>{% include twitterapi-min.js %}</script>

</body>

</html>