<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}

<body>
    {% include navigation.html %}

    <section class="header-3 bg msd-bg header-fade">
    </section>

    <section class="portfolio-description pl">
        <span class="scroll-down-button">
            <img src="/assets/img/arrow-white.svg">
        </span>
        <div class="container">
            <div class="portfolio-description-text">
                <h2>Moorland Self Drive</h2>
                <p>Since 1986 Moorland Self Drive has grown into a strong, traditional family business. Until 2018, their marketing consisted entirely of word of mouth and the same 33-year-old logo. We had the opportunity to refresh their brand and create a custom website to showcase the business, helping the company to establish a modern presence as it is handed over to the next generation.</p>
            </div>
            <div class="portfolio-description-services">
                <div class="portfolio-description-services-text">
                    <h3>Services Provided</h3>
                    <p>Branding • Website • Photography</p>
                </div>
                <a class="button-1" href="https://moorlandselfdrive.co.uk/" target="_blank">
                    <span>Visit Site</span>
                    <span>
                        <img src="/assets/img/arrow-right.svg">
                    </span>
                </a>
            </div>
        </div>
    </section>

    <section class="portfolio-description">
        <div class="container">
            <img src="/assets/img/portfolio/moorland-self-drive/msd-mobile-mockups.jpg" alt="Moorland Self Drive Mobile Website Designs"/>
        </div>
    </section>

    <section class="portfolio-description pl">
        <div class="container">
            <div class="portfolio-description-text">
                <h2>Custom Content Management</h2>
                <p>To avoid the complex interface of a traditional Wordpress or Magento system for managing vehicles, we designed and built a custom dashboard using our AMP Content Management System.</p>
                <p>Managing vehicle listings is easy and streamlined due to the workflow being designed from the ground-up, saving the client valuable time and effort on a daily basis.</p>
            </div>
            <div class="portfolio-description-stats-wrapper">    
                <img src="/assets/img/amp-cms-logo.png" alt="AMP CMS Logo"/> 
            </div>
        </div>
    </section>

    <section class="portfolio-description">
        <div class="container">
            <img src="/assets/img/portfolio/moorland-self-drive/msd-custom-cms.jpg" alt="Moorland Self Drive Custom CMS Dashboard"/>
        </div>
    </section>

    <section class="portfolio-description pl">
        <div class="container">
            <div class="portfolio-description-text">
                <h2>Speed &amp; Optimisation</h2>
                <p>Even with a fully custom AMP content management system, the Moorland Self Drive website loads virtually instantly on all devices with a rare <a href="https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fmoorlandselfdrive.co.uk%2F&tab=mobile" target="_blank">perfect 100 Google PageSpeed score</a>. This leads to more conversions, improved SEO rankings and better customer satisfaction.</p>
            </div>
            <div class="portfolio-description-stats-wrapper">
                <div class="portfolio-description-stats">
                    <p>
                        <span>100 / 100</span>
                        <br>PageSpeed Score</p>
                    <p>
                        <span>
                            &#60; 300ms</span>
                        <br>Load Time</p>
                    <p>
                        <span>8 Week</span>
                        <br>Turnaround</p>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio-description">
        <div class="container">
            <img src="/assets/img/portfolio/moorland-self-drive/msd-brand-development.jpg" alt="Moorland Self Drive Custom CMS Dashboard"/>
        </div>
    </section>

    <section class="portfolio-description pl">
        <div class="container">
            <div class="portfolio-description-text">
                <h2>Brand Development</h2>
                <p>Throughout the process, we consulted the client through choosing the right business name, logo, colour scheme and marketing strategy.</p>
                <p>The business is growing quickly with a new custom vehicle division that doesn't fit under the Self Drive name, so we created the MSD Custom Commercials sub-brand to accomodate.</p>
            </div>
        </div>
    </section>

    <section class="portfolio-description last">
        <div class="container">
            <img src="/assets/img/portfolio/moorland-self-drive/msd-custom-commercials-logos.png" alt="MSD Custom Commercials Logos"/>
        </div>
    </section>
    <section class="portfolio-description pl last">
        <div class="container">
            <img src="/assets/img/portfolio/moorland-self-drive/msd-custom-commercials-business-cards.jpg" alt="MSD Custom Commercials Business Cards"/>
        </div>
    </section>

    <section class="portfolio-description pl last">
        <div class="container container-image">
            <div class="portfolio-description-text">
                <h2>Photography</h2>
                <p>Over the course of a single afternoon we photographed the Moorland Self Drive garage, services and the current fleet of vehicles. We created a selection of 40 professional images that are used across social media, advertising, signage and the website.</p>
            </div>
        </div>
    </section>

    <section class="gallery-images row last pl">
        <div class="gallery-images-row">
            <div class="gallery-images-image">
                <img class="standard" src="/assets/img/portfolio/moorland-self-drive/photos/myles-transporter-2.jpg" alt="Volkswagen Transporter with Air Suspension">
            </div>
            <div class="gallery-images-image">
                <img class="standard" src="/assets/img/portfolio/moorland-self-drive/photos/myles-transporter-3.jpg" alt="Volkswagen Transporter with Air Suspension">
            </div>
        </div>
        <div class="gallery-images-row">
            <div class="gallery-images-image">
                <img class="standard" src="/assets/img/portfolio/moorland-self-drive/photos/vehicle-lineup.jpg" alt="Volkswagen Transporter with Air Suspension">
            </div>
            <div class="gallery-images-image">
                <img class="standard" src="/assets/img/portfolio/moorland-self-drive/photos/vw-transporter.jpg" alt="Volkswagen Transporter with Air Suspension">
            </div>
        </div>
        <div class="gallery-images-row">
            <div class="gallery-images-image">
                <img class="standard" src="/assets/img/portfolio/moorland-self-drive/photos/mercedes-sprinter.jpg" alt="Volkswagen Transporter with Air Suspension">
            </div>
            <div class="gallery-images-image">
                <img class="standard" src="/assets/img/portfolio/moorland-self-drive/photos/ford-interior.jpg" alt="Volkswagen Transporter with Air Suspension">
            </div>
        </div>
        <div class="gallery-images-row">
            <div class="gallery-images-image">
                <img class="standard" src="/assets/img/portfolio/moorland-self-drive/photos/oil-change.jpg" alt="Volkswagen Transporter with Air Suspension">
            </div>
            <div class="gallery-images-image">
                <img class="standard" src="/assets/img/portfolio/moorland-self-drive/photos/tyre-lever.jpg" alt="Volkswagen Transporter with Air Suspension">
            </div>
        </div>
        <div class="gallery-images-row">
            <div class="gallery-images-image">
                <img class="standard" src="/assets/img/portfolio/moorland-self-drive/photos/car-on-ramp.jpg" alt="Volkswagen Transporter with Air Suspension">
            </div>
            <div class="gallery-images-image">
                <img class="standard" src="/assets/img/portfolio/moorland-self-drive/photos/myles-transporter-1.jpg" alt="Volkswagen Transporter with Air Suspension">
            </div>
        </div>
    </section>

    {% include portfolio-post-feed.html %} {% include footer.html %}

    <script>{% include navigation-min.js %}</script>
    <script>{% include header-min.js %}</script>
    <script>{% include video-play-min.js %}</script>

</body>

</html>