<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}

<body>
    {% include navigation.html %}

    <section class="service-header pl">
        <div class="container">
            <span class="sub-header">Welcome to AMP Studio</span>
            <h1>
                <span>We produce engaging</span>
                <a href="/web/">websites</a>
                <span class="margin-left">, powerful </span>
                <a href="/cgi/">images</a>
                <span> and delightful </span>
                <a href="/branding/">content</a>
                <span> that captivates your customers.</span>
            </h1>
        </div>
    </section>

    <section class="our-services">
        <div class="service">
            <div class="service-text-wrapper">
                <div class="service-text-bg"></div>
                <div class="service-text">
                    <h2>Image Production</h2>
                    <p>With over 25 years of 3D image production experience, our CGI imagery, motion graphics &amp; animation
                        skills help you to visualise your ideas, communicate with your audience and offer a competitive edge
                        for your business.
                    </p>
                    <a class="button-1" href="/cgi/">
                        <span>Learn More</span>
                        <span>
                            <img src="/assets/img/arrow-right.svg">
                        </span>
                    </a>
                    <div class="line-break"></div>
                    <ul>
                        <li>Included services:</li>
                        <li>CGI product visualisation</li>
                        <li>Architectural visualisation</li>
                        <li>Motion graphics</li>
                        <li>CGI animation &amp; video</li>
                        <li>Exhibition &amp; set visualisation</li>
                    </ul>
                </div>
            </div>
            <div class="service-image image-1"></div>
        </div>
        <div class="service">
            <div class="service-image image-2"></div>
            <div class="service-text-wrapper">
                <div class="service-text-bg"></div>
                <div class="service-text">
                    <h2>Web Design &amp; Development</h2>
                    <p>We use the latest technologies to build fast and reliable websites that deliver content efficiently on
                        any device, supported by a range of carefully crafted bespoke content management and marketing addons.
                    </p>
                    <a class="button-1" href="/web/">
                        <span>Learn More</span>
                        <span>
                            <img src="/assets/img/arrow-right.svg">
                        </span>
                    </a>
                    <div class="line-break"></div>
                    <ul>
                        <li>Included services:</li>
                        <li>E-commerce websites</li>
                        <li>Content management systems</li>
                        <li>Social media marketing</li>
                        <li>Email marketing</li>
                        <li>Hosting &amp; maintenance</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="service">
            <div class="service-text-wrapper">
                <div class="service-text-bg"></div>
                <div class="service-text">
                    <h2>Brand Strategy &amp; Creative</h2>
                    <p>Our experience building some of the fastest growing brands in the UK allows us to deliver confident,
                        tailored designs that put you ahead of the pack. We’ll help you to define goals and find your voice
                        in an increasingly noisy world.
                    </p>
                    <a class="button-1" href="/branding/">
                        <span>Learn More</span>
                        <span>
                            <img src="/assets/img/arrow-right.svg">
                        </span>
                    </a>
                    <div class="line-break"></div>
                    <ul>
                        <li>Included services:</li>
                        <li>CGI product visualisation</li>
                        <li>Architectural visualisation</li>
                        <li>Motion graphics</li>
                        <li>CGI animation &amp; video</li>
                        <li>Exhibition &amp; set visualisation</li>
                    </ul>
                </div>
            </div>
            <div class="service-image image-3"></div>
        </div>
    </section>

    <section class="service-testimonials pl">
        <div class="container">
            <div class="service-testimonials-title">
                <h2>What Our Customers Say</h2>
            </div>
            <div class="service-testimonials-wrapper">
                <div class="testimonial">
                    <img src="/assets/img/quote.svg">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lorem libero, ullamcorper nec fermentum
                        nec, auctor at erat.”</p>
                    <h4>Fred Callcott&nbsp;
                        <a href="https://msdvehiclesolutions.co.uk" target="_blank">MSD Vehicles</a>
                        </span>
                    </h4>
                </div>
                <div class="testimonial">
                    <img src="/assets/img/quote.svg">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lorem libero, ullamcorper nec fermentum
                        nec, auctor at erat.”</p>
                    <h4>Eleanor Piredda&nbsp;
                        <a href="https://www.fifteengroup.co.uk/" target="_blank">Fifteen Group</a>
                        </span>
                    </h4>
                </div>
                <div class="testimonial">
                    <img src="/assets/img/quote.svg">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lorem libero, ullamcorper nec fermentum
                        nec, auctor at erat.”</p>
                    <h4>Callan Leavesley&nbsp;
                        <a href="http://greatbeartattoo.co.uk/" target="_blank">Great Bear Tattoo</a>
                        </span>
                    </h4>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

    <script async src="/assets/js/navigation-min.js"></script>

</body>

</html>