<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}

<body>
    {% include navigation.html %}

    <section class="service-header pl">
        <div class="container">
            <span class="sub-header">Welcome to AMP Studio</span>
            <h1>
                <span>We produce engaging</span>
                <a href="/web-design/">websites</a>
                <span>, powerful </span>
                <a href="/cgi/">images</a>
                <span> and delightful </span>
                <a href="/branding/">content</a>
                <span> that captivates your customers.</span>
            </h1>
        </div>
    </section>

    {% include footer.html %}

    <script async src="/assets/js/navigation-min.js"></script>

</body>

</html>