<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}

<body>
    {% include navigation.html %}

    <section class="header-2 pl">
        <div class="container">
            <span class="sub-header">Amp Studio</span>
            <h1>Terms &amp; Conditions</h1>
        </div>
    </section>

    <section class="site-info pm">
        <div class="container">
            <h2>Terms and Conditions</h2>
            <p>This Terms of Service (“Agreement”) is a legally binding contract between Amp Creative Ltd (“Amp Studio”) and
                you (“Customer,” “you” or “your”) that shall govern the purchase and use, in any manner, of the services
                provided by Amp Studio to Customer (collectively, the “Services”). By purchasing and/or using the Services
                in any manner, you represent that you have read, understood, and agreed to all terms and conditions set forth
                in this Agreement. If you do not agree to all the terms and conditions set forth in this Agreement, then
                you may not use any of the Services. If you are already a customer of Amp Studio and do not agree with the
                terms and conditions set forth in this Agreement, you should immediately contact Amp Studio to cancel your
                Services.
            </p>

            <h3>1. Ownership and Services Purchased</h3>
            <p>1.1 The individual or entity set out in our records as the primary billing contact shall be the owner of the
                account.
            </p>
            <p>1.2 The features and details of the Services governed by this Agreement are as described on your invoice for
                services based on their description on the Service Description Page as of the Effective Date, as defined
                below. Amp Studio may modify the products and services it offers from time-to-time.</p>

            <h3>2. Term of Agreement</h3>
            <p>2.1 This Agreement becomes effective immediately when the Customer verbally or in writing agrees (“Effective
                Date”) and remains effective and binding until terminated by either party as outlined below. This Agreement
                may only be modified by a written amendment signed by an authorised executive of Amp Studio, or by the posting
                by Amp Studio of a revised version.</p>

            <h3>3. Payments and Billing</h3>
            <p>3.1 Amp studio will automatically bill your payment method on file on the first day of each Billing Term, as
                defined below. All fees are subject to change with thirty (30) days prior notice to you.</p>
            <p>3.2 Your “Billing Term” is the period of time you have chosen to receive bills for the Services. For example,
                your Billing Term may be monthly, quarterly, or annually.</p>
            <p>3.3 Amp Studio is only able to automatically collect payment from customers with credit cards stored on file.
                All other payment methods (one time credit card payments, check, money order, PayPal one time payments, etc.)
                must be initiated manually by you. It is your obligation to ensure that recurring fees are paid on their
                due date.</p>
            <p>3.4 As a customer of Amp Studio, it is your responsibility to ensure that all billing information on file with
                Amp Studio is accurate, and that any credit card or other automated payment method on file has sufficient
                funds for processing. You are solely responsible for any and all fees charged to your payment method by the
                issuer, bank, or financial institution including, but not limited to, membership, overdraft, insufficient
                funds and over the credit limit fees.</p>

            <h3>4. Late Payments</h3>
            <p>4.1 Any account not paid in full within 30 days of the invoice date for the service(s) provided to the relating
                invoice, will be given a 7-day grace period during which you will be notified of any outstanding payments
                via email or other suitable format. If payment is not made within the 7 day grace period, all website & associated
                email services will be disabled and interest will be charged in accordance with https://www.gov.uk/late-commercial-payments-interest-debt-recovery/charging-interest-commercial-debt.</p>
            <p>4.2.Amp Studio is not responsible for any damages or losses as a result of suspension or termination for non-payment
                of your account. In addition, Amp Studio reserves the right to refuse to re-activate your Services until
                any and all outstanding invoice(s) have been paid in full. </p>

            <h3>5. Billing Disputes</h3>
            <p>5.1 Amp Studio will not activate new orders or provide additional Services for customers who have an outstanding
                balance with Amp Studio. For a new order to be setup or a new package to be activated, you must have a balance
                of £0.00, unless otherwise stated by Amp Studio in writing.</p>
            <p>5.2 If you believe there is an error in Amp Studio's billing, you must contact Amp Studio about it, in writing,
                within fourteen (14) days of the date you are billed or charged. Amp Studio’s obligation to consider your
                claim is contingent on you providing it with sufficient facts for Amp Studio to investigate your claims.
                You waive your right to dispute any charges or fees if you fail to notify Amp Studio in writing or meet the
                deadline set out above. If Amp Studio finds that your claim is valid, Amp Studio agrees to credit your account
                on your next billing date. Third party fees are not subject to this dispute provision and are final.</p>

            <h3>6. Chargebacks, Reversals, and Retrievals</h3>
            <p>6.1 If Amp Studio receives a chargeback or payment dispute from a credit card company, bank, or Paypal, your
                Services may be suspended without notice. A £50 chargeback fee (issued to recoup mandatory fees passed on
                to Amp Studio by the credit card company), plus any outstanding balances accrued as a result of the chargeback(s),
                must be paid in full before service is restored. Instead of issuing a chargeback, please contact Amp Studio’s
                billing team to address any billing issues at enquiries@amp.studio.</p>
            <p>6.2 If Amp Studio appeals a chargeback or other payment dispute and wins the dispute or appeal, the funds will
                likely be returned to Amp Studio by the credit card company or bank. Any double payment resulting from this
                process will be applied to Customer’s account in the form of a service credit.</p>

            <h3>7. Cancellation of Services</h3>
            <p>7.1 Either party may terminate this Agreement by providing notice to the other as provided herein.</p>
            <p>7.2 You may cancel Service(s) with Amp Studio by submitting a cancellation request in writing by emailing Amp
                Studio at enquiries@amp.studio. Cancellations are not final until confirmed by a representative of Amp Studio
                in writing by email.</p>
            <p>7.3 If you pay Amp Studio via PayPal or Standing Order, it is your responsibility to cancel any subscription
                for recurring PayPal payments. Amp Studio (which has no control over PayPal subscription payments or standing
                order payments) is not responsible for payments made from your PayPal or bank account after cancellation
                and is under no obligation to refund such payments made after cancellation.</p>
            <p>7.4 Amp Studio may terminate this Agreement at any time by providing notice to Customers via email.</p>
            <p>7.5 One party may also terminate this Agreement upon the occurrence of a material breach, which has not been
                cured by the other party within ten (10) days of their receipt of written notice of the breach. For the purposes
                of defining a material breach, materiality shall be determined from the perspective of a reasonable business
                person with significant experience in conducting business on the Internet. Notices of material breach must
                contain sufficient detail for the party against whom the assertion of material breach is directed to identify
                the breach and attempt to take corrective action.</p>

            <h3>8. Refusal of Service</h3>
            <p>8.1 Amp Studio reserves the right to refuse service to anyone at any time. Any material that, in Amp Studio’s
                judgment, is obscene, threatening, illegal, or violates Amp Studio’s terms of service in any manner may be
                removed from Amp Studio’s servers (or otherwise disabled), with or without notice.</p>
            <p>8.2 Similarly, Amp Studio reserves the right to cancel, suspend, or otherwise restrict access to the Service(s)
                it provides at any time, for any or no reason, and with or without notice. Amp Studio is not responsible
                for any damages or loss of data resulting from such suspension or termination.</p>
            <p>8.3 If any manner of communication with Amp Studio’s staff could be construed as belligerent, vulgar (curse words),
                attacking, highly rude, threatening, or abusive, you will be issued one warning. If the communication continues,
                your account may be suspended or terminated without refund. This includes, but is not limited to, threats
                to sue, slander, libel, publicly post, or initiate a chargeback.</p>

            <h3>9. Resource Usage</h3>
            <p>9.1 Each customer is required to utilise as little server resources as possible, so as to allow for reasonable
                performance by all Amp Studio customers. Because server CPU and memory are shared resources, excessive consumption
                of these resources can interfere with or completely prevent normal service performance for other users. Amp
                Studio reserves the right to suspend or terminate Services on any account that, at its sole discretion, is
                abusing server resources. Such suspension or termination can occur at any time without prior warning, and
                for any or no reason.</p>

            <h3>10. Licenses</h3>
            <p>10.1 Amp Studio grants to you a non-exclusive, non-transferable, worldwide, royalty free license to use technology
                provided by Amp Studio solely to access and use the Services. This license terminates on the expiration or
                termination of this Agreement. Except for the license rights set out above, this license does not grant any
                additional rights to you. All right, title and interest in Amp Studio’s technology shall remain with Amp
                Studio, or its licensors. You are not permitted to circumvent any devices designed to protect Amp Studio,
                or its licensor’s ownership interests in the technology provided to you. In addition, you may not reverse
                engineer this technology.</p>
            <p>10.2 You grant Amp Studio, or to any third parties used by Amp Studio to provide the Services, a non-exclusive,
                non-transferable, worldwide, royalty free, license to use, disseminate, transmit and cache content, technology
                and information provided by you and, if applicable, your End Users, in conjunction with the Services. This
                license terminates on the expiration or termination of this Agreement. All right, title and interest in your
                technology shall remain with you, or your licensors.</p>

            <h3>11. Service Modifications</h3>
            <p>11.1 Amp Studio reserves the right to add, modify, or remove any or all features from any service Amp Studio
                provides, at any time, with or without notice. This includes, but is not limited to, disk space limits, bandwidth
                limits, domain limits, pricing, and third party applications. These changes can be made for any or no reason
                and Amp Studio does not guarantee the availability of any feature, whether written or implied. If the removal
                of a feature materially impacts your ability to use the Service, you may terminate this Agreement. For the
                purposes of this paragraph only, the term “materially” means that a reasonable business person would not
                have purchased the Services for the purposes used by you.</p>

            <h3>12. Uptime Guarantee</h3>
            <p>12.1 Amp Studio guarantees that your website and services that directly affect its display to the Internet will
                be accessible 99.9% of the time in any given calendar month.</p>
            <p>12.2 If scheduled maintenance is required, Amp Studio will inform you via email of the time, date and length
                of downtime.</p>
            <p>12.3 The following circumstances are not eligible for credit and are specifically excluded from our Uptime Guarantee:
                scheduled maintenance, DDoS or similar attack, hardware failure, third-party software failure, customer maxing
                its resource container, issues resulting from errors or omissions by the customer, issues relating to the
                customer’s ISP, firewall blocks/bans, or any other circumstance beyond our reasonable control. This clause
                does not apply to subscribers of Virtual Private Servers (“VPS”), Cloud Hosting, or Dedicated Server packages.
                All credits are at the discretion of Amp Studio, based on its investigation of any issue that is covered
                by this section.</p>
            <p>12.4 If Amp Studio provides a credit, or Service Level Agreement, for a particular Service, this shall be your
                sole and exclusive remedy for defects in, or issues with, the Service.</p>

            <h3>13. Support Policy</h3>
            <p>13.1 Amp Studio will provide technical support to you in office hours on standard working days throughout the
                year. The only official method for technical support is via Amp Studio’s help desk at enquiries@amp.studio.
                Telephone is not an official method of support and are governed by the terms and conditions set forth in
                the following clause.</p>
            <p>13.2 Limited support will be provided, at Amp Studio’s discretion and subject to availability of staff, via telephone.
                Amp Studio will always do its best to provide fast, friendly, and helpful support over the telephone, but
                these options are not official methods of support and no guarantee is made as to the availability, accessibility,
                or technical expertise provided via this medium.</p>
            <p>13.3 Inquires via telephone should be limited to general questions which do not require access to any account
                or server to investigate or resolve and should not be used to request the status of or provide updates to
                a help desk ticket. Any issue requiring investigation, research, or access to an account/server should be
                sent via the help desk. Amp Studio reserves the right to direct any issue to the help desk at its discretion
                and to refuse to provide support for such issues via telephone.</p>
            <p>13.4 Resellers are responsible for supporting their own customers. Amp Studio does not provide support to its
                resellers’ customers. If a reseller’s customer contacts Amp Studio, Amp Studio reserves the right to place
                the customer account on hold until the reseller can assume its responsibility for its customer. All support
                requests must be made by the reseller on its customers’ behalf for security purposes. Resellers are also
                responsible for all content stored or transmitted under their reseller’s account and the actions of their
                customers. Amp Studio will hold any reseller responsible for any of its customers’ actions that violate the
                terms of service set forth in this Agreement.</p>

            <h3>14. Advanced Support Policy</h3>
            <p>14.1 Support to Customer is limited to Amp Studio’s area of expertise and is available only for issues related
                to the physical functioning of the Services. Amp Studio does not provide support for any third party software
                including, but not limited to, software offered by but not developed by Amp Studio. Amp Studio reserves the
                right to refuse assistance with and/or assess an “Advanced Support Fee” of £100.00 per hour (1 hour minimum)
                for any issue that, at Amp Studio’s sole discretion, is: (a) outside the scope of standard support; or (b)
                caused by customer error or omission. Amp Studio will always ask for your permission before providing advanced
                support that may be subject to a fee. By providing your permission, you agree to pay Advanced Support Fees
                as billed.</p>

            <h3>15. Backup Services</h3>
            <p>15.1 Your use of Amp Studio’s Services is at your sole risk. This service is provided to you as a courtesy. Amp
                Studio is not responsible for files and/or data residing on your account. You agree to take full responsibility
                for files and data transferred and to maintain all appropriate backup of files and data stored on Amp Studio’s
                servers. Any and all backup services provided by Amp Studio, whether paid or not, are offered with no warranty
                or guarantee of their date, accuracy, and integrity.</p>
            <p>15.2 Backups are performed on servers that house shared and reseller packages only. No backups are performed
                for virtual private server (VPS/VDS), cloud hosting, or dedicated server packages, unless you specifically
                purchase an additional service for this purpose.</p>

            <h3>16. Domain Name Registrations, Transfers, and Renewals</h3>
            <p>16.1 Amp Studio will not renew or host any domains without prior completion of a direct debit, failure to complete
                this may result in domains not being renewed or hosting being disabled.</p>
            <p>16.2 Amp Studio will make every effort to ensure domain names are registered, transferred, and/or renewed on
                time. If a domain name registration, renewal, or transfer is not processed when due, it is your responsibility
                to contact Amp Studio within fifteen (15) days of the incident for Amp Studio to investigate. Redemption
                fees may be charged to Customer for domains that remain expired for more than thirty (30) days, when no contact
                is made to Amp Studio in the required timeframe. Amp Studio’s liability is limited to the amount paid for
                the domain name.</p>

            <h3>17. Expired Domain Deletion Policy</h3>
            <p>17.1 Immediately after the expiration of the term of a domain name’s registration services and before deletion
                of the domain name in the applicable registry’s database, you acknowledge that Amp Studio may direct the
                domain name to name servers and IP address(s) designated by Amp Studio, including, without limitation, to
                no IP address or to IP address(s) which host a parking page and/or a commercial search engine that may display
                advertisements. You acknowledge that Amp Studio may either leave your WHOIS information intact or that Amp
                Studio may change the contact information in the WHOIS output for the expired domain name so that you are
                no longer the listed registrant of the expired domain name.</p>
            <p>17.2 For a period of approximately thirty (30) days after expiration of the term of domain name registration
                services, you acknowledge that Amp Studio may provide a procedure by which expired domain name registration
                services may be renewed. You acknowledge and agree that Amp Studio may, but is not obligated to, offer this
                process, called the “reactivation period.” You acknowledge that you assume all risks and all consequences
                if you wait until close to or after the expiration of the original term of domain name registration services
                to attempt to renew the domain name registration services. You acknowledge that Amp Studio, for any reason
                and in its sole discretion, may choose not to offer a reactivation period and that Amp Studio shall not be
                liable therefore. You acknowledge that reactivation period renewal processes, if any, may involve additional
                fees which Amp Studio may determine at its discretion. You acknowledge and agree that Amp Studio may make
                expired domain name services(s) available to third parties, that Amp Studio may auction off the rights to
                expired domain name services (the auction beginning near the end or after the end of the reactivation period),
                and/or that expired domain name registration services may be re-registered to any party at any time.</p>

            <h3>18. Acceptable Usage Policy</h3>
            <p>18.1 You shall use Amp Studio’s services only for lawful purposes. Transmission, storage, or presentation of
                any information, data, or material in violation of the laws of the United Kingdom. This includes, but is
                not limited to: copyrighted material in which you are not the copyright holder, material that is threatening
                or obscene, or material protected by trade secrets or other statutes. You agree to indemnify and hold harmless
                Amp Studio from any claims resulting from the use of the service which damages you or any other party.</p>
            <p>18.2 Amp Studio reserves the right to terminate Services for any customer or End User activity that exposes it
                to legal liability or endangers its ability to provide services to other customers.</p>

            <h3>19. Multi-Location Hosting</h3>
            <p>19.1 Amp Studio does not guarantee the availability of any and all host locations, and reserves the right to
                add, move, modify, or remove any location at any time without notification. Amp Studio also reserves the
                right to deny the transfer of any account to a new location for any or no reason.</p>

            <h3>20. Warranties</h3>
            <p>20.1 Your Warranties to Amp Studio</p>
            <p>20.1.2 You represent and warrant to Amp Studio that: (i) you have the experience and knowledge necessary to use
                the Services; (ii) you will provide Amp Studio with material that may be implemented by it to provide the
                Services without extra effort on Amp Studio’s part; and (iii) you have sufficient knowledge about administering,
                designing, and operating the functions facilitated by the Service to take advantage of it.</p>
            <p>20.1.3 You expressly warrant that you own the entire right, title and interest to, or have an appropriate license
                to use, all material provided to Amp Studio, or which may be accessed or transmitted using the Services.
                You also warrant that to the extent you do business with other parties using the Services, that they have
                the same ownership interests in the materials provided to you, or accessed via you, that are set out in this
                paragraph.
            </p>

            <h3>20.2 Amp Studio’s Warranties</h3>
            <p>20.2.1 You expressly agree that use of Amp Studio's services is at your own risk, The services are provided as-is
                and as-available, other than as expressly set out in this agreement, Amp Studio has not, and does not, make
                any warranties whether express or implied. This disclaimer includes, but is not limited to, the warranties
                or non-infringement, fitness for a particular purpose, warranties or merchantability, and/or title. Neither
                Amp Studio, its parent, its employees, agents, resellers, third party information providers, merchants, licensors
                or the like, warrant that Amp Studio's services will not be interrupted or be error-free; nor do they make
                any warranty as to the results that might be obtained from the use of the services or as to the accuracy,
                or reliability, of any information service or merchandise contained in or provided through Amp Studio's network,
                unless otherwise expressly stated in this agreement. Amp Studio specifically disclaims any and all warranties
                regarding services provided by third parties, regardless of whether those services appear to be provided
                by Amp Studio. No warranties made by these third parties to Amp Studio shall be passed through to you, nor
                shall you claim to be a third party beneficiary of such warranties.</p>
            <p>20.2.2 The warranty disclaimers contained in this agreement extend to any oral or written information you may
                have received from Amp Studio, its employees, third party vendors, agents or affiliates. You may not rely
                on such information.</p>

            <h3>21. Limitation of Liability</h3>
            <p>21.1 You acknowledge and accept that any damages will be limited to no more than the fees paid by you for one
                (1) month of service.</p>
            <p>21.2 Under no circumstances including negligence, shall Amp Studio, its officers, agents or third parties providing
                services through Amp Studio, be liable for any direct, indirect, incidental, special, punitive or consequential
                damages whatsoever, including but not limited to, damages for loss of profits, cost savings, revenue, business,
                data or use, or any other pecuniary loss by you, any of your end users or any third party; or that results
                from mistakes, omissions, interruptions, deletion of files, errors, defects, delays in operation, or transmission
                or any failure or performance, whether or not limited to acts of god , communication failure, theft, destruction
                or unauthorized access to Amp Studio's records, programs or services. You agree that this paragraph applies
                even if Amp Studio has been advised of the possibility of such damages. You hereby acknowledge that this
                paragraph shall apply to all contents on all servers and all services, Some jurisdictions do not allow the
                limitation or exclusion of liability for incidental or consequential damages; you agree that in those jurisdictions,
                Amp Studio's liability will be limited to the extent permitted by law.</p>

            <h3>22. Indemnification</h3>
            <p>22.1 You agree to indemnify, defend and hold harmless Amp Studio, and its parent, subsidiary and affiliated companies,
                third party service providers and each of their respective officers, directors, employees, shareholders and
                agents (each an “indemnified party” and collectively, “indemnified parties”) from and against any and all
                claims, damages, losses. liabilities, suits, actions, demands, proceedings (whether legal or administrative),
                and expenses (including, but not limited to, reasonable attorneys’ fees) threatened, asserted, or filed by
                a third party against any of the indemnified parties arising out of, or relating to: (i) your use of the
                Services; (ii) any violation by you of any of Amp Studio’s policies; (iii) any breach of any of your representations,
                warranties or covenants contained in this Agreement; or (iv) any acts or omissions by you. The terms of this
                section shall survive any termination of this Agreement. For the purpose of this paragraph only, the terms
                used to designate you include you, your customers, visitors to your website, and users of your products or
                services the use of which is facilities by Amp Studio.</p>

            <h3>23. Partial Invalidity</h3>
            <p>23.1 If any provision of this Agreement is held to be invalid by a court of competent jurisdiction, then the
                remaining provisions shall nevertheless remain in full force and effect. Amp Studio and Customer agree to
                renegotiate any term held invalid and to be bound by mutually agreed substitute provision.</p>

            <h3>24. Changes to the Terms of Service</h3>
            <p>24.1 Amp Studio reserves the right to modify this Agreement, in whole or in part, from time-to-time. Amp Studio
                will provide you with notices of such a change by posting notice on our website. Unless Amp Studio is required
                to make a change in an emergency, any change will be effective thirty (30) days after it is posted. If such
                a change materially diminishes your ability to use the Services, you may terminate this Agreement. You are
                encouraged to review the content of this Agreement on a regular basis.</p>

            <h3>25. Assignment</h3>
            <p>25.1 This Agreement may be assigned by Amp Studio. It may not be assigned by you. This Agreement shall bind and
                inure to the benefit of the corporate successors and permitted assigns of the parties.</p>

            <h3>26. Force Majeure</h3>
            <p>26.1 Except for the obligation to pay monies due and owing, neither party shall be liable for any delay or failure
                in performance due to events outside the defaulting party’s reasonable control, including, without limitation,
                acts of God, earthquake, labor disputes, shortages of supplies, riots, war, fire, epidemics, failure of telecommunication
                carriers, or delays of common carriers or other circumstances beyond its reasonable control. The obligations
                and rights of the excused party shall be extended on a day-to-day basis for the time period equal to the
                period of the excusable delay. The party affected by such an occurrence shall notify the other party as soon
                as possible but in no event less than ten (10) days from the beginning of the event.</p>

            <h3>27. No Waiver</h3>
            <p>27.1 No waiver of rights under this Agreement or any Amp Studio policy, or agreement between Customer and Amp
                Studio shall constitute a subsequent waiver of this or any other right under this Agreement.</p>

            <h3>28. No Agency</h3>
            <p>28.1 This Agreement does not create any agency, partnership, joint venture, or franchise relationship. Neither
                party has the right or authority to, and shall not, assume or create any obligation of any nature whatsoever
                on behalf of the other party or bind the other party in any respect whatsoever.</p>

            <h3>29. Bespoke Services</h3>
            <p>29.1 All digital marketing, design, website development and design, CGI, animations, affiliates and paid advertising
                services by Amp Studio are bespoke services meaning that it is done at the bespoke request of the client.
                Because of this, no refunds or time will be credited against any aspect of a bespoke development project
                whether used or unused.</p>
            <p>29.2 Any warranty claim or financial claim will be due following site build only and only then if the project
                does not meet the original requirements of the brief. Technical issues will get resolved under our three
                month warranty as set out above.</p>
        </div>
    </section>

    {% include footer.html %}

    <script async src="/assets/js/navigation-min.js"></script>

</body>

</html>