<!DOCTYPE html>
<html lang="en" dir="ltr">
{% include head.html %}

<body>
    {% include navigation.html %}

    <section class="header-3 bg wedgewood-bg header-fade">
    </section>

    <section class="portfolio-description pl">
        <span class="scroll-down-button">
            <img src="/assets/img/arrow-white.svg">
        </span>
        <div class="container">
            <div class="portfolio-description-text">
                <h2>Wedgewood Plumbing&nbsp;
                    <br class="show-500">&amp; Heating</h2>
                <p>Building a trade business and generating leads can be difficult as a solo contractor. We developed a full
                    branding, website and Facebook marketing solution from the ground up for Wedgewood Plumbing &amp; Heating
                    to drive leads and create a solid foundation for the future of their business.</p>
            </div>
            <div class="portfolio-description-services">
                <div class="portfolio-description-services-text">
                    <h3>Services Provided</h3>
                    <p>Branding • Web Design • Marketing</p>
                </div>
                <a class="button-1" href="https://wedgewoodgas.co.uk" target="_blank">
                    <span>Visit Site</span>
                    <span>
                        <img src="/assets/img/arrow-right.svg">
                    </span>
                </a>
            </div>
        </div>
    </section>

    <section class="portfolio-images">
        <div class="portfolio-images-column">
            <div class="portfolio-images-image">
                <video autoplay loop>
                    <source src="/assets/img/videos/wedgewood-mobile.mp4" type="video/mp4">
                </video>
                <img class="play video-button off" src="/assets/img/play-button.svg">
                <img class="pause video-button" src="/assets/img/pause-button.svg">
            </div>
            <div class="portfolio-images-image">
                <video autoplay loop>
                    <source src="/assets/img/videos/wedgewood-map.mp4" type="video/mp4">
                </video>
                <img class="play video-button off" src="/assets/img/play-button-grey.svg">
                <img class="pause video-button" src="/assets/img/pause-button-grey.svg">
            </div>
        </div>
        <div class="portfolio-images-column">
            <div class="portfolio-images-image-lg wedgewood-homepage">
                <img src="/assets/img/portfolio/wedgewood/wedgewood-homepage.jpg" alt="Wedgewood Gas website">
            </div>
        </div>
    </section>

    <section class="portfolio-description pl">
        <div class="container">
            <div class="portfolio-description-text">
                <h2>Facebook Marketing</h2>
                <p>With an average cost-per-click of just 17p and a massive 11x return on every penny of advertising budget,
                    we drove thousands of leads to custom landing pages on the Wedgewood site and converted dozens of phone
                    enquiries in the first month. We continue to manage and grow Wedgewood’s business on a monthly basis,
                    dynamically tweaking the advertising model and building a strong customer base for repeat business.</p>
            </div>
            <div class="portfolio-description-stats-wrapper">
                <div class="portfolio-description-stats">
                    <p>
                        <span>17p</span>
                        <br>Cost per click</p>
                    <p>
                        <span>11×</span>
                        <br>Approx. ROI</p>
                    <p>
                        <span>100,000+</span>
                        <br>Monthly impressions</p>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio-images last pl">
        <div class="portfolio-images-row">
            <div class="portfolio-images-image">
                <img class="standard" src="/assets/img/portfolio/wedgewood/wedgewood-mobile-mockup.jpg" alt="Wedgewood Gas website">
            </div>
            <div class="portfolio-images-image">
                <img class="standard" src="/assets/img/portfolio/wedgewood/wedgewood-tablet-mockup.jpg" alt="Wedgewood Gas website">
            </div>
        </div>
    </section>

    {% include portfolio-post-feed.html %} {% include footer.html %}

    <script async src="/assets/js/navigation-min.js"></script>
    <script async src="/assets/js/header-min.js"></script>
    <script async src="/assets/js/portfolio-min.js"></script>

</body>

</html>